# Criação de Variáveis Derivadas da Base da Prova do SAEB 2017 - BA
### As variáveis são de informações dos estudantes das turmas de 3º ano do ensino médio de escolas bahianas

In [3]:
import pandas as pd

In [4]:
#importando a base de dados
dataset = pd.read_csv('C:/Users/maril/Documents/ufs/TCC e Pesquisa IDEB/TS_ALUNO_3EM_ESC.csv')

In [5]:
#Filtrando estudantes de Sergipe
base_saeb_ba = dataset.loc[dataset['ID_UF'] == 29]

base_saeb_ba

,ID_PROVA_BRASIL,ID_REGIAO,ID_UF,ID_MUNICIPIO,ID_AREA,ID_ESCOLA,ID_DEPENDENCIA_ADM,ID_LOCALIZACAO,ID_TURMA,ID_TURNO,...,TX_RESP_Q051,TX_RESP_Q052,TX_RESP_Q053,TX_RESP_Q054,TX_RESP_Q055,TX_RESP_Q056,TX_RESP_Q057,TX_RESP_Q058,TX_RESP_Q059,TX_RESP_Q060
486162,2017,2,29,2900108,2,29211590,2,1,739270,3,...,A,A,A,A,A,A,B,A,A,C
486163,2017,2,29,2900108,2,29211590,2,1,739270,3,...,A,B,A,A,B,A,B,A,A,C
486164,2017,2,29,2900108,2,29211590,2,1,739270,3,...,A,B,A,NaN,NaN,A,NaN,NaN,A,A
486165,2017,2,29,2900108,2,29211590,2,1,739270,3,...,A,A,C,A,A,B,B,A,A,C
486166,2017,2,29,2900108,2,29211590,2,1,739270,3,...,A,A,A,A,A,A,B,A,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
586017,2017,2,29,6307699,2,61215745,4,1,908526,1,...,A,B,B,B,B,B,B,B,A,C
586018,2017,2,29,6307699,2,61215745,4,1,908526,1,...,B,B,C,A,B,A,B,A,A,B
586019,2017,2,29,6307699,2,61215745,4,1,908526,1,...,A,A,A,A,A,A,B,A,A,C
586020,2017,2,29,6307699,2,61215745,4,1,908526,1,...,A,A,A,A,A,B,B,B,A,C
586021,2017,2,29,6307699,2,61215745,4,1,908526,1,...,A,B,B,A,B,B,A,A,A,C

In [6]:
base_saeb_ba.columns

Index(['ID_PROVA_BRASIL', 'ID_REGIAO', 'ID_UF', 'ID_MUNICIPIO', 'ID_AREA',
       'ID_ESCOLA', 'ID_DEPENDENCIA_ADM', 'ID_LOCALIZACAO', 'ID_TURMA',
       'ID_TURNO', 'ID_SERIE', 'ID_ALUNO', 'IN_SITUACAO_CENSO',
       'IN_PREENCHIMENTO_PROVA', 'IN_PRESENCA_PROVA', 'ID_CADERNO',
       'ID_BLOCO_1', 'ID_BLOCO_2', 'TX_RESP_BLOCO_1_LP', 'TX_RESP_BLOCO_2_LP',
       'TX_RESP_BLOCO_1_MT', 'TX_RESP_BLOCO_2_MT', 'IN_PROFICIENCIA',
       'IN_PROVA_BRASIL', 'ESTRATO_ANEB', 'PESO_ALUNO_LP', 'PESO_ALUNO_MT',
       'PROFICIENCIA_LP', 'ERRO_PADRAO_LP', 'PROFICIENCIA_LP_SAEB',
       'ERRO_PADRAO_LP_SAEB', 'PROFICIENCIA_MT', 'ERRO_PADRAO_MT',
       'PROFICIENCIA_MT_SAEB', 'ERRO_PADRAO_MT_SAEB',
       'IN_PREENCHIMENTO_QUESTIONARIO', 'TX_RESP_Q001', 'TX_RESP_Q002',
       'TX_RESP_Q003', 'TX_RESP_Q004', 'TX_RESP_Q005', 'TX_RESP_Q006',
       'TX_RESP_Q007', 'TX_RESP_Q008', 'TX_RESP_Q009', 'TX_RESP_Q010',
       'TX_RESP_Q011', 'TX_RESP_Q012', 'TX_RESP_Q013', 'TX_RESP_Q014',
       'TX_RESP_Q015', 'TX_RESP_Q016', 'TX_RESP_Q017', 'TX_RESP_Q018',
       'TX_RESP_Q019', 'TX_RESP_Q020', 'TX_RESP_Q021', 'TX_RESP_Q022',
       'TX_RESP_Q023', 'TX_RESP_Q024', 'TX_RESP_Q025', 'TX_RESP_Q026',
       'TX_RESP_Q027', 'TX_RESP_Q028', 'TX_RESP_Q029', 'TX_RESP_Q030',
       'TX_RESP_Q031', 'TX_RESP_Q032', 'TX_RESP_Q033', 'TX_RESP_Q034',
       'TX_RESP_Q035', 'TX_RESP_Q036', 'TX_RESP_Q037', 'TX_RESP_Q038',
       'TX_RESP_Q039', 'TX_RESP_Q040', 'TX_RESP_Q041', 'TX_RESP_Q042',
       'TX_RESP_Q043', 'TX_RESP_Q044', 'TX_RESP_Q045', 'TX_RESP_Q046',
       'TX_RESP_Q047', 'TX_RESP_Q048', 'TX_RESP_Q049', 'TX_RESP_Q050',
       'TX_RESP_Q051', 'TX_RESP_Q052', 'TX_RESP_Q053', 'TX_RESP_Q054',
       'TX_RESP_Q055', 'TX_RESP_Q056', 'TX_RESP_Q057', 'TX_RESP_Q058',
       'TX_RESP_Q059', 'TX_RESP_Q060'],
      dtype='object')

In [7]:
#Informações Gerais da escola 
info_escola = base_saeb_ba[['ID_PROVA_BRASIL', 'ID_REGIAO', 'ID_UF', 'ID_MUNICIPIO', 'ID_AREA',
       'ID_ESCOLA', 'ID_DEPENDENCIA_ADM', 'ID_LOCALIZACAO', 'IN_SITUACAO_CENSO']]

info_escola = info_escola.drop_duplicates()
info_escola.set_index('ID_ESCOLA', inplace=True)

info_escola

,ID_PROVA_BRASIL,ID_REGIAO,ID_UF,ID_MUNICIPIO,ID_AREA,ID_DEPENDENCIA_ADM,ID_LOCALIZACAO,IN_SITUACAO_CENSO
ID_ESCOLA,,,,,,,,
29211590,2017,2,29,2900108,2,2,1,1
29032539,2017,2,29,2900207,2,2,1,1
29033047,2017,2,29,2900207,2,2,2,1
29446740,2017,2,29,2900306,2,2,1,1
61206519,2017,2,29,2900355,2,2,1,1
...,...,...,...,...,...,...,...,...
61218410,2017,2,29,6307661,2,2,1,1
61227355,2017,2,29,6307663,2,4,1,1
61238810,2017,2,29,6307691,2,4,1,1
61213619,2017,2,29,6307699,2,4,1,1
61215745,2017,2,29,6307699,2,4,1,1

In [8]:
#Valor dos Parametros: base de dados, id da escola, pergunta do saeb e respostas
#Valor de Retorno: Variavel Derivada
#Funcao contabiliza as respostas para uma determinada pergunta
def criar_variavel_derivada(base, escola, pergunta, respostas):
    
    base_saeb = base[pergunta].value_counts().to_frame().T
    
    variavel_derivada = pd.DataFrame()
    
    for resposta in respostas:
        col =  pergunta+'_'+resposta
        if resposta in base_saeb.columns:
            variavel_derivada[col] = base_saeb[resposta]
        else:
            variavel_derivada[col] = 0
    
    variavel_derivada['ID_ESCOLA'] = escola

    variavel_derivada.set_index('ID_ESCOLA', inplace=True)
    '''
    base_saeb = base.groupby([pergunta]).count()
    aux = base_saeb[['ID_PROVA_BRASIL']]
    variavel_derivada = pd.DataFrame()
    
    for resposta in respostas:
        column = pergunta+'_'+ resposta
        variavel_derivada[column] = 0

    for resposta in aux.index:
        column = pergunta+'_'+ resposta
        var = aux.loc[aux.index == resposta]
        variavel_derivada[column] = var.values.reshape(-1)
    
    variavel_derivada['ID_ESCOLA'] = escola

    variavel_derivada.set_index('ID_ESCOLA', inplace=True)
    '''
    return variavel_derivada

In [11]:
len(base_saeb_al['ID_ESCOLA'].unique())

244

In [9]:
#Valor dos Parametros: base de dados, id da escola, perguntas do saeb e respostas
#Valor de Retorno: Variaveis Derivadas de uma escola
def variaveis_derivadas(base_dados, escola, perguntas, respostas):
    
    variavel = pd.DataFrame()
    
    for pergunta in perguntas: 
        if (variavel.empty):
            variavel = criar_variavel_derivada(base_dados, escola, pergunta, respostas)
        else:
            variavel = variavel.join(criar_variavel_derivada(base_dados, escola, pergunta, respostas))
    
    return variavel

In [15]:
#separando as respostas pela quantidade de respostas que ela tem
escolas = base_saeb_ba['ID_ESCOLA'].unique()

respostas = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'L']

perguntas_duas_respostas = ['TX_RESP_Q001', 'TX_RESP_Q020', 'TX_RESP_Q021', 'TX_RESP_Q024', 'TX_RESP_Q025', 
                            'TX_RESP_Q027', 'TX_RESP_Q028', 'TX_RESP_Q029', 'TX_RESP_Q030', 'TX_RESP_Q031', 
                            'TX_RESP_Q038', 'TX_RESP_Q043', 'TX_RESP_Q044', 'TX_RESP_Q052']

perguntas_tres_respostas = ['TX_RESP_Q018', 'TX_RESP_Q022', 'TX_RESP_Q026', 'TX_RESP_Q032', 'TX_RESP_Q033',
                           'TX_RESP_Q034', 'TX_RESP_Q035', 'TX_RESP_Q040', 'TX_RESP_Q041', 'TX_RESP_Q042', 
                            'TX_RESP_Q046', 'TX_RESP_Q047', 'TX_RESP_Q048', 'TX_RESP_Q049', 'TX_RESP_Q050', 
                            'TX_RESP_Q054', 'TX_RESP_Q055', 'TX_RESP_Q056', 'TX_RESP_Q057', 'TX_RESP_Q058']

perguntas_quatro_respostas = ['TX_RESP_Q039', 'TX_RESP_Q045', 'TX_RESP_Q051', 'TX_RESP_Q053', 'TX_RESP_Q059',
                              'TX_RESP_Q060']

perguntas_cinco_respostas = ['TX_RESP_Q005', 'TX_RESP_Q006', 'TX_RESP_Q007', 'TX_RESP_Q008', 'TX_RESP_Q009',
                             'TX_RESP_Q010', 'TX_RESP_Q011', 'TX_RESP_Q012', 'TX_RESP_Q013', 'TX_RESP_Q014',
                             'TX_RESP_Q015', 'TX_RESP_Q017', 'TX_RESP_Q036', 'TX_RESP_Q037']

perguntas_seis_respostas = ['TX_RESP_Q002', 'TX_RESP_Q016']

perguntas_sete_respostas = ['TX_RESP_Q019', 'TX_RESP_Q023']

perguntas_oito_respostas = ['TX_RESP_Q004']

perguntas_doze_respostas = ['TX_RESP_Q003']

In [18]:
dataframe_duas_respostas = pd.DataFrame()
dataframe_tres_respostas = pd.DataFrame()
dataframe_quatro_respostas = pd.DataFrame()
dataframe_cinco_respostas = pd.DataFrame()
dataframe_seis_respostas = pd.DataFrame()
dataframe_sete_respostas = pd.DataFrame()
dataframe_oito_respostas = pd.DataFrame()
dataframe_doze_respostas = pd.DataFrame()

In [19]:
#gerando variaveis derivadas

for escola in escolas:
    base = base_saeb_ba.loc[base_saeb_ba['ID_ESCOLA'] == escola]
    
    dataframe_duas_respostas = dataframe_duas_respostas.append(variaveis_derivadas(base, escola, perguntas_duas_respostas, respostas[:2]))
    
    dataframe_tres_respostas = dataframe_tres_respostas.append(variaveis_derivadas(base, escola, perguntas_tres_respostas, respostas[:3]))

    dataframe_quatro_respostas = dataframe_quatro_respostas.append(variaveis_derivadas(base, escola, perguntas_quatro_respostas, respostas[:4]))

    dataframe_cinco_respostas = dataframe_cinco_respostas.append(variaveis_derivadas(base, escola, perguntas_cinco_respostas, respostas[:5]))
    
    dataframe_seis_respostas = dataframe_seis_respostas.append(variaveis_derivadas(base, escola, perguntas_seis_respostas, respostas[:6]))

    dataframe_sete_respostas = dataframe_sete_respostas.append(variaveis_derivadas(base, escola, perguntas_sete_respostas, respostas[:7]))

    dataframe_oito_respostas = dataframe_oito_respostas.append(variaveis_derivadas(base, escola, perguntas_oito_respostas, respostas[:8]))

    dataframe_doze_respostas = dataframe_doze_respostas.append(variaveis_derivadas(base, escola, perguntas_doze_respostas, respostas[:12]))

In [20]:
dataframe_quatro_respostas

,TX_RESP_Q039_A,TX_RESP_Q039_B,TX_RESP_Q039_C,TX_RESP_Q039_D,TX_RESP_Q045_A,TX_RESP_Q045_B,TX_RESP_Q045_C,TX_RESP_Q045_D,TX_RESP_Q051_A,TX_RESP_Q051_B,...,TX_RESP_Q053_C,TX_RESP_Q053_D,TX_RESP_Q059_A,TX_RESP_Q059_B,TX_RESP_Q059_C,TX_RESP_Q059_D,TX_RESP_Q060_A,TX_RESP_Q060_B,TX_RESP_Q060_C,TX_RESP_Q060_D
ID_ESCOLA,,,,,,,,,,,,,,,,,,,,,
29211590,11.0,11.0,1,45,45,2,20,1,59,0,...,15,0,65,0,3,0,7.0,24.0,29,8
29032539,31.0,25.0,4,88,101,5,38,3,126,1,...,43,3,122,2,17,3,29.0,38.0,74,4
29033047,37.0,22.0,2,42,67,1,33,1,90,0,...,29,0,90,2,10,0,15.0,40.0,44,3
29446740,39.0,10.0,3,46,65,1,31,1,94,0,...,40,0,98,0,2,0,16.0,27.0,57,1
61206519,8.0,10.0,1,60,64,0,14,1,63,0,...,17,0,74,0,5,0,11.0,27.0,41,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61218410,72.0,14.0,3,70,116,1,41,1,154,0,...,58,0,148,1,6,0,14.0,54.0,84,4
61227355,3.0,0.0,0,7,8,1,4,0,13,0,...,5,0,13,0,0,0,1.0,7.0,2,3
61238810,9.0,1.0,0,10,14,1,5,0,14,0,...,12,0,14,0,6,0,NaN,1.0,1,18
61213619,5.0,0.0,0,10,11,0,4,0,15,0,...,4,0,13,0,2,0,NaN,8.0,7,0
61215745,103.0,1.0,0,58,96,8,36,24,96,8,...,47,20,110,4,27,22,4.0,97.0,63,0

In [34]:
#unindo dataframes de respostas

dataframe_var_derivadas = dataframe_duas_respostas
dataframe_var_derivadas = dataframe_var_derivadas.join(dataframe_tres_respostas)
dataframe_var_derivadas = dataframe_var_derivadas.join(dataframe_quatro_respostas)
dataframe_var_derivadas = dataframe_var_derivadas.join(dataframe_cinco_respostas)
dataframe_var_derivadas = dataframe_var_derivadas.join(dataframe_seis_respostas)
dataframe_var_derivadas = dataframe_var_derivadas.join(dataframe_sete_respostas)
dataframe_var_derivadas = dataframe_var_derivadas.join(dataframe_oito_respostas)
dataframe_var_derivadas = dataframe_var_derivadas.join(dataframe_doze_respostas)


dataframe_var_derivadas.fillna(0, inplace=True)

dataframe_var_derivadas = dataframe_var_derivadas.astype(int)

dataframe_var_derivadas

,TX_RESP_Q001_A,TX_RESP_Q001_B,TX_RESP_Q020_A,TX_RESP_Q020_B,TX_RESP_Q021_A,TX_RESP_Q021_B,TX_RESP_Q024_A,TX_RESP_Q024_B,TX_RESP_Q025_A,TX_RESP_Q025_B,...,TX_RESP_Q003_B,TX_RESP_Q003_C,TX_RESP_Q003_D,TX_RESP_Q003_E,TX_RESP_Q003_F,TX_RESP_Q003_G,TX_RESP_Q003_H,TX_RESP_Q003_I,TX_RESP_Q003_J,TX_RESP_Q003_L
ID_ESCOLA,,,,,,,,,,,,,,,,,,,,,
29211590,36,36,65,7,58,14,63,6,47,20,...,5,10,3,7,5,5,3,6,6,7
29032539,52,95,124,23,107,39,95,53,72,73,...,5,14,17,13,11,15,10,11,14,13
29033047,48,49,81,21,68,33,67,36,42,57,...,4,13,8,4,14,6,12,3,10,6
29446740,34,65,90,11,82,19,76,25,54,45,...,4,12,9,13,7,10,10,8,7,4
61206519,21,58,58,22,51,29,51,27,35,43,...,5,9,10,9,5,9,3,7,7,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61218410,56,104,150,10,130,31,136,22,90,67,...,17,17,15,17,15,10,15,9,12,12
61227355,4,9,13,0,13,0,12,1,10,2,...,0,0,1,2,2,1,2,3,1,1
61238810,8,12,20,0,20,0,20,0,16,4,...,2,1,3,1,0,3,2,3,2,0
61213619,7,8,15,0,13,2,15,0,12,3,...,3,0,3,2,1,0,0,2,2,1
61215745,73,91,165,0,146,19,164,0,130,34,...,15,20,11,7,16,19,13,14,13,12

In [35]:
dataframe_var_derivadas = info_escola.join(dataframe_var_derivadas)

In [36]:
#exportando variaveis
dataframe_var_derivadas.to_csv('C:/Users/maril/Documents/ufs/TCC e Pesquisa IDEB/variaveis_derivadas_ba.csv')

In [27]:
#Verificando se os códigos das escolas particulares são fictícios
dataframe_var_derivadas.loc[dataframe_var_derivadas['ID_DEPENDENCIA_ADM'] == 4]

,ID_PROVA_BRASIL,ID_REGIAO,ID_UF,ID_MUNICIPIO,ID_AREA,ID_DEPENDENCIA_ADM,ID_LOCALIZACAO,IN_SITUACAO_CENSO,TX_RESP_Q001_A,TX_RESP_Q001_B,...,TX_RESP_Q003_B,TX_RESP_Q003_C,TX_RESP_Q003_D,TX_RESP_Q003_E,TX_RESP_Q003_F,TX_RESP_Q003_G,TX_RESP_Q003_H,TX_RESP_Q003_I,TX_RESP_Q003_J,TX_RESP_Q003_L
ID_ESCOLA,,,,,,,,,,,,,,,,,,,,,
61198831,2017,2,29,6307294,2,4,1,1,10,17,...,1,3,1,6,4,2,0,2,0,2
61211460,2017,2,29,6307302,2,4,1,1,6,14,...,0,2,1,4,1,2,2,1,4,1
61241135,2017,2,29,6307343,2,4,1,1,13,21,...,1,2,1,1,2,5,4,7,2,2
61211485,2017,2,29,6307348,2,4,2,1,25,46,...,7,4,9,8,5,3,7,8,4,4
61229732,2017,2,29,6307352,2,4,1,1,7,8,...,0,2,1,1,0,2,1,3,2,0
61184991,2017,2,29,6307389,2,4,1,1,6,16,...,2,0,2,0,1,2,0,1,2,3
61198767,2017,2,29,6307389,2,4,1,1,11,12,...,1,3,2,1,1,1,3,4,0,1
61191165,2017,2,29,6307403,2,4,1,1,11,5,...,3,1,3,1,3,0,0,2,0,0
61199761,2017,2,29,6307417,2,4,1,1,43,61,...,10,8,12,8,7,7,6,7,10,6
61202285,2017,2,29,6307417,2,4,1,1,11,7,...,1,1,2,1,2,2,1,2,1,1
61206593,2017,2,29,6307417,2,4,1,1,11,15,...,0,3,2,1,1,3,1,3,0,4
61228834,2017,2,29,6307417,2,4,1,1,41,39,...,10,7,6,11,4,5,3,11,5,4
61224209,2017,2,29,6307450,2,4,1,1,34,51,...,8,11,7,8,7,11,6,3,6,7
61231355,2017,2,29,6307494,2,4,1,1,9,13,...,2,1,1,5,2,3,1,1,0,2
61242301,2017,2,29,6307495,2,4,1,1,13,10,...,1,0,3,1,2,4,0,3,1,3
61215106,2017,2,29,6307499,2,4,1,1,19,18,...,1,2,5,2,7,4,4,3,2,2
61229768,2017,2,29,6307504,2,4,1,1,22,11,...,2,2,5,0,4,4,3,2,4,3
61210345,2017,2,29,6307517,2,4,1,1,11,17,...,2,2,1,2,1,1,3,3,2,2
61192650,2017,2,29,6307551,2,4,1,1,9,12,...,2,3,3,1,1,0,1,2,2,4
61200020,2017,2,29,6307558,2,4,1,1,5,11,...,1,4,0,0,0,2,2,1,3,1
61194923,2017,2,29,6307580,2,4,1,1,30,43,...,6,1,6,6,5,9,8,5,6,5
61188337,2017,2,29,6307595,2,4,1,1,47,62,...,10,10,8,13,6,8,3,12,10,11
61209618,2017,2,29,6307597,2,4,1,1,8,7,...,1,0,1,2,0,1,2,2,4,2
61183858,2017,2,29,6307613,2,4,1,1,10,23,...,5,9,3,3,0,4,1,1,0,4
61231636,2017,2,29,6307620,2,4,1,1,5,12,...,2,3,1,0,2,2,1,1,3,1
61179216,2017,2,29,6307622,1,4,1,1,43,52,...,4,6,10,8,7,10,6,18,7,6
61179222,2017,2,29,6307622,1,4,1,1,22,30,...,6,4,11,3,4,7,2,2,6,2
61181761,2017,2,29,6307622,1,4,1,1,48,48,...,8,12,12,13,7,12,1,10,6,4
61205593,2017,2,29,6307622,1,4,1,1,16,19,...,1,0,3,3,6,3,1,1,6,6
61207701,2017,2,29,6307622,1,4,1,1,11,39,...,2,6,5,2,4,12,3,3,3,2
61211554,2017,2,29,6307622,1,4,1,1,44,41,...,5,7,9,4,8,5,6,7,11,11
61215541,2017,2,29,6307622,1,4,1,1,14,5,...,2,2,2,1,3,2,1,2,0,1
61218882,2017,2,29,6307622,1,4,1,1,27,33,...,2,8,6,9,4,5,4,2,6,4
61222938,2017,2,29,6307622,1,4,1,1,8,7,...,1,1,2,2,1,3,1,2,1,0
61229161,2017,2,29,6307622,1,4,1,1,204,184,...,36,40,36,32,32,32,33,30,29,33
61234802,2017,2,29,6307622,1,4,1,1,22,17,...,4,2,2,1,7,3,5,3,3,4
61237779,2017,2,29,6307622,1,4,1,1,21,31,...,2,4,4,7,7,4,3,6,5,3
61237792,2017,2,29,6307622,1,4,1,1,6,8,...,0,1,2,2,1,2,0,0,2,1
61247839,2017,2,29,6307622,1,4,1,1,45,71,...,10,10,16,11,13,7,8,4,9,11
61247935,2017,2,29,6307622,1,4,1,1,22,29,...,3,8,4,4,6,5,5,4,2,5
61247997,2017,2,29,6307622,1,4,1,1,22,34,...,6,6,7,7,5,3,4,2,4,3
61250072,2017,2,29,6307622,1,4,1,1,12,24,...,3,2,4,4,1,5,4,3,4,2
61205954,2017,2,29,6307628,2,4,1,1,13,11,...,2,0,1,3,3,3,3,3,1,1
61247928,2017,2,29,6307636,2,4,1,1,10,21,...,1,2,1,3,4,2,1,4,2,4
61227355,2017,2,29,6307663,2,4,1,1,4,9,...,0,0,1,2,2,1,2,3,1,1
61238810,2017,2,29,6307691,2,4,1,1,8,12,...,2,1,3,1,0,3,2,3,2,0
61213619,2017,2,29,6307699,2,4,1,1,7,8,...,3,0,3,2,1,0,0,2,2,1
61215745,2017,2,29,6307699,2,4,1,1,73,91,...,15,20,11,7,16,19,13,14,13,12

In [29]:
#Função que verifica se o ID de uma escola é inválido
#Segundo o Dicionário de Dados da base o SAEB 6 - Os códigos dos Municípios e 
#das Escolas que começam com o dígito "6" são máscaras, isto é, são códigos fictícios.
def retira_id_ficticio(id_escola):
    if id_escola[0] == "6":
        return True
    else:
        return False

In [32]:
#Se retirou as escolas fictícias
for escola in dataframe_var_derivadas.index:
    if (retira_id_ficticio(str(escola))):
        dataframe_var_derivadas.drop(escola, inplace=True)
        

dataframe_var_derivadas

,ID_PROVA_BRASIL,ID_REGIAO,ID_UF,ID_MUNICIPIO,ID_AREA,ID_DEPENDENCIA_ADM,ID_LOCALIZACAO,IN_SITUACAO_CENSO,TX_RESP_Q001_A,TX_RESP_Q001_B,...,TX_RESP_Q003_B,TX_RESP_Q003_C,TX_RESP_Q003_D,TX_RESP_Q003_E,TX_RESP_Q003_F,TX_RESP_Q003_G,TX_RESP_Q003_H,TX_RESP_Q003_I,TX_RESP_Q003_J,TX_RESP_Q003_L
ID_ESCOLA,,,,,,,,,,,,,,,,,,,,,
29211590,2017,2,29,2900108,2,2,1,1,36,36,...,5,10,3,7,5,5,3,6,6,7
29032539,2017,2,29,2900207,2,2,1,1,52,95,...,5,14,17,13,11,15,10,11,14,13
29033047,2017,2,29,2900207,2,2,2,1,48,49,...,4,13,8,4,14,6,12,3,10,6
29446740,2017,2,29,2900306,2,2,1,1,34,65,...,4,12,9,13,7,10,10,8,7,4
29236606,2017,2,29,2900504,2,2,1,1,33,64,...,10,9,4,8,9,8,10,10,14,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29409500,2017,2,29,2933307,2,2,1,1,25,34,...,5,5,6,3,5,1,6,8,8,6
29433410,2017,2,29,2933307,2,2,1,1,54,54,...,6,9,11,8,11,16,5,8,8,16
29456487,2017,2,29,2933307,2,2,2,1,36,61,...,9,11,9,8,9,5,8,6,7,3
29457491,2017,2,29,2933307,2,2,2,1,27,33,...,1,5,4,5,5,6,3,7,8,5
29041333,2017,2,29,2933604,2,2,1,1,45,60,...,4,3,11,13,12,7,13,12,4,8

In [33]:
dataframe_var_derivadas['ID_DEPENDENCIA_ADM'].unique()

array([2, 3, 1], dtype=int64)