In [21]:
!pip install pandasql

Requirement already satisfied: pandasql in c:\users\maril\anaconda3\lib\site-packages (0.7.3)
Requirement already satisfied: sqlalchemy in c:\users\maril\anaconda3\lib\site-packages (from pandasql) (1.3.18)
Requirement already satisfied: numpy in c:\users\maril\anaconda3\lib\site-packages (from pandasql) (1.18.5)
Requirement already satisfied: pandas in c:\users\maril\anaconda3\lib\site-packages (from pandasql) (1.0.5)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\maril\anaconda3\lib\site-packages (from pandas->pandasql) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\maril\anaconda3\lib\site-packages (from pandas->pandasql) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\maril\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas->pandasql) (1.15.0)

In [22]:
import pandas as pd
import numpy as np
import pandasql as psql

In [23]:
#importando a base de dados
escolas = pd.read_csv('C:/Users/maril/Documents/ufs/TCC e Pesquisa IDEB/micro_censo_escolar_2017 (1)/Microdados_Censo_Escolar_2017/DADOS/ESCOLAS.CSV', low_memory=False, sep='|', encoding='latin1')

escolas

,NU_ANO_CENSO,CO_ENTIDADE,NO_ENTIDADE,CO_ORGAO_REGIONAL,TP_SITUACAO_FUNCIONAMENTO,DT_ANO_LETIVO_INICIO,DT_ANO_LETIVO_TERMINO,CO_REGIAO,CO_MESORREGIAO,CO_MICRORREGIAO,...,IN_ESP_EXCLUSIVA_MEDIO_INTEGR,IN_ESP_EXCLUSIVA_MEDIO_NORMAL,IN_COMUM_EJA_FUND,IN_COMUM_EJA_MEDIO,IN_COMUM_EJA_PROF,IN_ESP_EXCLUSIVA_EJA_FUND,IN_ESP_EXCLUSIVA_EJA_MEDIO,IN_ESP_EXCLUSIVA_EJA_PROF,IN_COMUM_PROF,IN_ESP_EXCLUSIVA_PROF
0,2017,50032062,CENTRO DE EDUCACAO INFANTIL GERALDO ANTONIO LOPES,NaN,1,06/02/2017,11/12/2017,5,5004,50010,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2017,11016094,IEE MARECHAL RONDON,00007,1,06/02/2017,29/12/2017,1,1102,11004,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2017,21079196,ESCOLA MUNICIPAL BARRO BRANCO,00004,1,21/02/2017,29/12/2017,2,2102,21008,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2017,51062879,ESCOLA MUNICIPAL PROFESSORA MARIA LUIZA DE ARA...,51021,1,13/02/2017,21/12/2017,5,5104,51017,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2017,31051659,EM JOSE LEOCADIO DOS SANTOS,00039,1,06/02/2017,15/12/2017,3,3108,31036,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282357,2017,33004609,E E FAZENDA DAS LARANJEIRAS EXT RESOL 5224 ATO...,11011,4,NaN,NaN,3,3301,33001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282358,2017,33005028,EE CONDE - EXTINTA DECRETO 40018,11012,4,NaN,NaN,3,3301,33002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282359,2017,33005290,E E CURITIBA EXT RESOL 5283 ATO 27-05-2015 PUB...,11012,4,NaN,NaN,3,3301,33002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282360,2017,33005303,EE FAZENDA PONTA GROSSA - EXTINTA DECRETO 40017,11012,4,NaN,NaN,3,3301,33002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282361,2017,33005370,EE FAZENDA BOA VISTA - EXTINTA DECRETO 40432,11012,4,NaN,NaN,3,3301,33002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
#Filtrando escolas de Alagoas
escolas = escolas.loc[escolas['CO_UF'] == 27]

escolas['Ideb-2017'] = ""

escolas

<ipython-input-24-399584fbe7e1>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  escolas['Ideb-2017'] = ""

,NU_ANO_CENSO,CO_ENTIDADE,NO_ENTIDADE,CO_ORGAO_REGIONAL,TP_SITUACAO_FUNCIONAMENTO,DT_ANO_LETIVO_INICIO,DT_ANO_LETIVO_TERMINO,CO_REGIAO,CO_MESORREGIAO,CO_MICRORREGIAO,...,IN_ESP_EXCLUSIVA_MEDIO_NORMAL,IN_COMUM_EJA_FUND,IN_COMUM_EJA_MEDIO,IN_COMUM_EJA_PROF,IN_ESP_EXCLUSIVA_EJA_FUND,IN_ESP_EXCLUSIVA_EJA_MEDIO,IN_ESP_EXCLUSIVA_EJA_PROF,IN_COMUM_PROF,IN_ESP_EXCLUSIVA_PROF,Ideb-2017
40,2017,27001857,GRUPO MUNICIPAL SARGENTO GUILHERME,00011,2,NaN,NaN,2,2701,27001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
136,2017,27021238,ESCOLA MUNICIPAL DE EDUCACAO BASICA MARIA IRAC...,00005,1,06/03/2017,13/01/2018,2,2702,27006,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,
202,2017,27045021,ESCOLA MUNICIPAL DE EDUCACAO BASICA NOBOR BITTO,00009,2,NaN,NaN,2,2703,27013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
216,2017,27018067,ESCOLA MUNICIPAL JOAO INACIO GOMES,00005,1,06/02/2017,29/12/2017,2,2702,27006,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,
282,2017,27222756,UNIDADE MUNICIPAL DE ENSINO BRAULIO CAVALCANTE,00008,1,06/03/2017,29/12/2017,2,2701,27003,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276514,2017,27216357,ESCOLA PORTTINARI,00002,4,NaN,NaN,2,2703,27012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
276625,2017,27230007,CRECHE CAZINHA FELIZ,00002,4,NaN,NaN,2,2703,27012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
277221,2017,27355055,NUCLEO DE APOIO A EDUCACAO ESPECIAL PINDORAMA,00002,4,NaN,NaN,2,2703,27012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
281354,2017,27013170,ESCOLA DE ENSINO FUND JOSE ZEFERINO DO CARMO,00003,4,NaN,NaN,2,2702,27005,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
282119,2017,27008509,GRUPO MUNICIPAL CRISTO REDENTOR,00008,4,NaN,NaN,2,2701,27003,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

In [25]:
columns = escolas.dtypes[escolas.dtypes == np.float64]

listOfColumnNames = list(columns.index)

escolas[listOfColumnNames].isnull().sum()

TP_CATEGORIA_ESCOLA_PRIVADA    3796
IN_CONVENIADA_PP               3796
TP_CONVENIO_PODER_PUBLICO      4294
IN_MANT_ESCOLA_PRIVADA_EMP     3796
IN_MANT_ESCOLA_PRIVADA_ONG     3796
                               ...
IN_ESP_EXCLUSIVA_EJA_FUND      1246
IN_ESP_EXCLUSIVA_EJA_MEDIO     1246
IN_ESP_EXCLUSIVA_EJA_PROF      1246
IN_COMUM_PROF                  1246
IN_ESP_EXCLUSIVA_PROF          1246
Length: 151, dtype: int64

In [26]:
ideb = pd.read_csv('C:/Users/maril/Documents/ufs/TCC e Pesquisa IDEB/notas-ideb2017-alagoas.csv', encoding='latin1')


ideb.drop(columns=['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16'], inplace=True)

ideb

                                                Escola  Ideb-2017
0    ESCOLA ESTADUAL MONSENHOR SEBASTIAO ALVES BEZERRA        3.4
1                              IFAL - CAMPUS ARAPIRACA        5.7
2                        ESCOLA ESTADUAL ADRIANO JORGE        2.6
3       ESCOLA ESTADUAL DE EDUCACAO BASICA ARTUR RAMOS        3.8
4        ESCOLA ESTADUAL DE EDUCACAO BASICA COSTA REGO        2.9
..                                                 ...        ...
149        ESCOLA ESTADUAL DR PAULO DE CASTRO SARMENTO        4.1
150  ESCOLA ESTADUAL MONSENHOR CLOVIS DUARTE DE BARROS        3.5
151                   ESCOLA ESTADUAL ROCHA CAVALCANTI        4.5
152                    ESCOLA ESTADUAL JOAQUIM DIEGUES        3.3
153                  ESCOLA ESTADUAL MONSENHOR MACHADO        3.0

[154 rows x 2 columns]

In [27]:
escolas_al = pd.DataFrame(columns=escolas.columns)

for index, row in ideb.iterrows():
    escola = escolas.loc[escolas['NO_ENTIDADE'] == row['Escola']]
    escola['Ideb-2017'] = row['Ideb-2017']
    escolas_al = escolas_al.append(escola)

escolas_al

<ipython-input-27-68068d11500a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  escola['Ideb-2017'] = row['Ideb-2017']

,NU_ANO_CENSO,CO_ENTIDADE,NO_ENTIDADE,CO_ORGAO_REGIONAL,TP_SITUACAO_FUNCIONAMENTO,DT_ANO_LETIVO_INICIO,DT_ANO_LETIVO_TERMINO,CO_REGIAO,CO_MESORREGIAO,CO_MICRORREGIAO,...,IN_ESP_EXCLUSIVA_MEDIO_NORMAL,IN_COMUM_EJA_FUND,IN_COMUM_EJA_MEDIO,IN_COMUM_EJA_PROF,IN_ESP_EXCLUSIVA_EJA_FUND,IN_ESP_EXCLUSIVA_EJA_MEDIO,IN_ESP_EXCLUSIVA_EJA_PROF,IN_COMUM_PROF,IN_ESP_EXCLUSIVA_PROF,Ideb-2017
74563,2017,27000095,ESCOLA ESTADUAL MONSENHOR SEBASTIAO ALVES BEZERRA,00011,1,10/05/2017,15/12/2017,2,2701,27001,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3.4
179037,2017,27047636,IFAL - CAMPUS ARAPIRACA,NaN,1,13/03/2017,05/01/2018,2,2702,27006,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5.7
246161,2017,27016366,ESCOLA ESTADUAL ADRIANO JORGE,00005,1,08/03/2017,15/12/2017,2,2702,27006,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.6
80974,2017,27016382,ESCOLA ESTADUAL DE EDUCACAO BASICA ARTUR RAMOS,00005,1,20/03/2017,18/12/2017,2,2702,27006,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.8
35374,2017,27016471,ESCOLA ESTADUAL DE EDUCACAO BASICA COSTA REGO,00005,1,03/04/2017,15/12/2017,2,2702,27006,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163950,2017,27024067,ESCOLA ESTADUAL DR PAULO DE CASTRO SARMENTO,00007,1,13/03/2017,29/12/2017,2,2703,27008,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,4.1
65468,2017,27024016,ESCOLA ESTADUAL MONSENHOR CLOVIS DUARTE DE BARROS,00007,1,20/03/2017,29/12/2017,2,2703,27008,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5
227036,2017,27025047,ESCOLA ESTADUAL ROCHA CAVALCANTI,00007,1,06/03/2017,29/12/2017,2,2703,27008,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.5
113249,2017,27025080,ESCOLA ESTADUAL JOAQUIM DIEGUES,00004,1,13/02/2017,22/12/2017,2,2703,27008,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3.3
200765,2017,27025519,ESCOLA ESTADUAL MONSENHOR MACHADO,00004,1,13/02/2017,29/12/2017,2,2703,27008,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0

### Criando variáveis dos professores

In [28]:
professores = pd.read_csv('C:/Users/maril/Documents/ufs/TCC e Pesquisa IDEB/micro_censo_escolar_2017 (1)/Microdados_Censo_Escolar_2017/DADOS/DOCENTES_NORDESTE.CSV', low_memory=False, sep='|', encoding='latin1')

In [29]:
professores = professores.loc[professores['CO_UF'] == 27]

In [30]:
def variaveis_pos(dataset, nome_coluna, nome_nova_coluna):
    variavel_derivada = dataset[['CO_ENTIDADE', nome_coluna]].loc[professores[nome_coluna] == 1]

    variavel_derivada = variavel_derivada.groupby(by='CO_ENTIDADE').count()

    variavel_derivada.rename(columns={nome_coluna:nome_nova_coluna}, inplace=True)

    return variavel_derivada

In [31]:
#Criando variaveis derivadas sobre especializacao

colunas = {'IN_ESPECIALIZACAO':'QtdeDocentesEsp', 
           'IN_MESTRADO': 'QtdeDocentesMest', 
           'IN_DOUTORADO': 'QtdeDocentesDout',
           'IN_POS_NENHUM': 'QtdeDocentesSemPos',
           'IN_ESPECIFICO_ANOS_FINAIS': 'QtdeDocentesFCEM',
           'IN_DISC_DIVER_SOCIO_CULTURAL': 'QtdeDocentesDivSocCulta',
           'IN_DISC_ATENDIMENTO_ESPECIAIS' : 'QtdeDocentesAtendEsp'
           }

   # 'TP_TIPO_DOCENTE',
   # 'TP_TIPO_CONTRATACAO' 
   # 'CO_PESSOA_FISICA': 'QtdeDocentesTotal',
   # 'ID_TURMA': 'QtdeTurmasProf'  ,

pos_graduacao = pd.DataFrame()

for coluna, nova_coluna in colunas.items():
    if (pos_graduacao.empty):
        pos_graduacao = variaveis_pos(professores, coluna, nova_coluna)
    else:
        pos_graduacao = pos_graduacao.join(variaveis_pos(professores, coluna, nova_coluna))
    

pos_graduacao = pos_graduacao.fillna(0).astype(int)

In [32]:
#Criando variaveis derivadas quantidade de docentes, turmas, disciplinas voltadas a diversidade e atendimento especial

sdf = psql.sqldf("select CO_ENTIDADE, count(CO_PESSOA_FISICA) as QtdeDocentesTotal, count(ID_TURMA) as QtdeTurmasProf from professores group by CO_ENTIDADE")

sdf.set_index('CO_ENTIDADE', inplace=True)

In [33]:
variaveis_docentes = pd.DataFrame()

variaveis_docentes = pos_graduacao.join(sdf)

In [34]:
#criando variaveis com 'TP_TIPO_DOCENTE' 

docentes = psql.sqldf("select CO_ENTIDADE, count(TP_TIPO_DOCENTE) as QtdeDocentes from professores where TP_TIPO_DOCENTE = 1 group by CO_ENTIDADE")

docentesAuxAssist = psql.sqldf("select CO_ENTIDADE, count(TP_TIPO_DOCENTE) as QtdeDocentesAuxAssist from professores where TP_TIPO_DOCENTE = 2 group by CO_ENTIDADE")

docentesMonit = psql.sqldf("select CO_ENTIDADE, count(TP_TIPO_DOCENTE) as QtdeDocentesMonit from professores where TP_TIPO_DOCENTE = 3 group by CO_ENTIDADE")

docentes.set_index('CO_ENTIDADE', inplace=True)

docentesAuxAssist.set_index('CO_ENTIDADE', inplace=True)

docentesMonit.set_index('CO_ENTIDADE', inplace=True)

In [35]:
variaveis_docentes = variaveis_docentes.join(docentes)
variaveis_docentes = variaveis_docentes.join(docentesAuxAssist)
variaveis_docentes  = variaveis_docentes.join(docentesMonit)

variaveis_docentes

,QtdeDocentesEsp,QtdeDocentesMest,QtdeDocentesDout,QtdeDocentesSemPos,QtdeDocentesFCEM,QtdeDocentesDivSocCulta,QtdeDocentesAtendEsp,QtdeDocentesTotal,QtdeTurmasProf,QtdeDocentes,QtdeDocentesAuxAssist,QtdeDocentesMonit
CO_ENTIDADE,,,,,,,,,,,,
27000095,62,0,0,103,0,0,0,172,172,172.0,NaN,NaN
27000265,3,0,0,4,0,0,0,13,13,7.0,6.0,NaN
27000281,6,0,0,7,0,0,0,21,21,18.0,3.0,NaN
27000400,7,0,0,7,0,0,0,16,16,13.0,3.0,NaN
27000435,30,0,0,44,0,0,0,82,82,79.0,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
27367010,10,0,0,14,0,0,0,32,32,32.0,NaN,NaN
27368017,9,7,0,33,7,0,0,83,83,83.0,NaN,NaN
27369013,1,0,0,1,0,0,0,8,8,8.0,NaN,NaN
27370011,2,0,0,19,0,0,0,44,44,44.0,NaN,NaN
27371018,7,0,0,12,5,0,0,75,75,75.0,NaN,NaN

In [36]:
#criando variaveis derivadas de'TP_TIPO_CONTRATACAO' 

docentesEfetivos = psql.sqldf("select CO_ENTIDADE, count(TP_TIPO_CONTRATACAO) asQtdeDocentesEfetivos from professores where TP_TIPO_CONTRATACAO = 1 group by CO_ENTIDADE")

docentesTempo = psql.sqldf("select CO_ENTIDADE, count(TP_TIPO_CONTRATACAO) as QtdeDocentesTempo from professores where TP_TIPO_CONTRATACAO = 2 group by CO_ENTIDADE")

docentesTerceir = psql.sqldf("select CO_ENTIDADE, count(TP_TIPO_CONTRATACAO) as QtdeDocentesTerceir from professores where TP_TIPO_CONTRATACAO = 3 group by CO_ENTIDADE")

docentesCLT = psql.sqldf("select CO_ENTIDADE, count(TP_TIPO_CONTRATACAO) as QtdedocentesCLT from professores where TP_TIPO_CONTRATACAO = 4 group by CO_ENTIDADE")

docentesEfetivos.set_index('CO_ENTIDADE', inplace=True)

docentesTempo.set_index('CO_ENTIDADE', inplace=True)

docentesTerceir.set_index('CO_ENTIDADE', inplace=True)

docentesCLT.set_index('CO_ENTIDADE', inplace=True)

In [37]:
variaveis_docentes = variaveis_docentes.join(docentesEfetivos)
variaveis_docentes = variaveis_docentes.join(docentesTempo)
variaveis_docentes = variaveis_docentes.join(docentesTerceir)
variaveis_docentes = variaveis_docentes.join(docentesCLT)

In [38]:
licenciatura = psql.sqldf("select CO_ENTIDADE, count(1) as QtdeDocentesComLicenciatura from professores where IN_LICENCIATURA_3 = 1 or IN_LICENCIATURA_2 = 1 or IN_LICENCIATURA_1 = 1  group by CO_ENTIDADE")

licenciatura.set_index('CO_ENTIDADE', inplace=True)

In [39]:
variaveis_docentes = variaveis_docentes.join(licenciatura)

In [4]:
turma = pd.read_csv('C:/Users/maril/Documents/ufs/TCC e Pesquisa IDEB/micro_censo_escolar_2017 (1)/Microdados_Censo_Escolar_2017/DADOS/TURMAS.CSV', low_memory=False, sep='|', encoding='latin1')

In [40]:
#alunosTotal = psql.sqldf("select CO_ENTIDADE, count(NU_MATRICULAS) as QtdeAlunosTotal from turma group by CO_ENTIDADE")

alunosTotal = turma[['CO_ENTIDADE','NU_MATRICULAS']]

alunosTotal = alunosTotal.groupby(by='CO_ENTIDADE').sum()

#alunosTotal.set_index('CO_ENTIDADE', inplace=True)

alunosTotal.rename(columns={'NU_MATRICULAS': 'QtdeAlunosTotal'}, inplace=True)

In [41]:
alunosTotal

             QtdeAlunosTotal
CO_ENTIDADE
11000023                 151
11000040                 283
11000058                1514
11000082                  85
11000104                 466
...                      ...
53084055                 559
53085000                 483
53086007                 187
53087011                  55
53088000                 123

[185925 rows x 1 columns]

In [42]:
variaveis_docentes = variaveis_docentes.join(alunosTotal)

#variaveis_docentes.fillna(0, inplace=True)

#variaveis_docentes = variaveis_docentes.astype(int)

variaveis_docentes

,QtdeDocentesEsp,QtdeDocentesMest,QtdeDocentesDout,QtdeDocentesSemPos,QtdeDocentesFCEM,QtdeDocentesDivSocCulta,QtdeDocentesAtendEsp,QtdeDocentesTotal,QtdeTurmasProf,QtdeDocentes,QtdeDocentesAuxAssist,QtdeDocentesMonit,asQtdeDocentesEfetivos,QtdeDocentesTempo,QtdeDocentesTerceir,QtdedocentesCLT,QtdeDocentesComLicenciatura,QtdeAlunosTotal
CO_ENTIDADE,,,,,,,,,,,,,,,,,,
27000095,62,0,0,103,0,0,0,172,172,172.0,NaN,NaN,24.0,148.0,NaN,NaN,172.0,508
27000265,3,0,0,4,0,0,0,13,13,7.0,6.0,NaN,5.0,2.0,NaN,NaN,6.0,137
27000281,6,0,0,7,0,0,0,21,21,18.0,3.0,NaN,18.0,NaN,NaN,NaN,6.0,380
27000400,7,0,0,7,0,0,0,16,16,13.0,3.0,NaN,13.0,NaN,NaN,NaN,10.0,306
27000435,30,0,0,44,0,0,0,82,82,79.0,3.0,NaN,57.0,22.0,NaN,NaN,71.0,632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27367010,10,0,0,14,0,0,0,32,32,32.0,NaN,NaN,NaN,NaN,NaN,NaN,26.0,150
27368017,9,7,0,33,7,0,0,83,83,83.0,NaN,NaN,NaN,NaN,NaN,NaN,53.0,243
27369013,1,0,0,1,0,0,0,8,8,8.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,26
27370011,2,0,0,19,0,0,0,44,44,44.0,NaN,NaN,NaN,NaN,NaN,NaN,13.0,359
27371018,7,0,0,12,5,0,0,75,75,75.0,NaN,NaN,NaN,NaN,NaN,NaN,34.0,211

In [43]:
escolas_al.set_index('CO_ENTIDADE', inplace=True)

escolas_al = escolas_al.join(variaveis_docentes, how="inner")

In [44]:
ideb2017= escolas_al['Ideb-2017']

escolas_al.drop('Ideb-2017', axis=1, inplace=True)

In [367]:
columns = escolas_al.dtypes[escolas_al.dtypes == np.float64]

listOfColumnNames = list(columns.index)

escolas_al[listOfColumnNames] = escolas_al[listOfColumnNames].fillna(0).astype(int)

In [45]:
escolas_al['Ideb-2017'] = ideb2017

In [46]:
escolas_al

,NU_ANO_CENSO,NO_ENTIDADE,CO_ORGAO_REGIONAL,TP_SITUACAO_FUNCIONAMENTO,DT_ANO_LETIVO_INICIO,DT_ANO_LETIVO_TERMINO,CO_REGIAO,CO_MESORREGIAO,CO_MICRORREGIAO,CO_UF,...,QtdeDocentes,QtdeDocentesAuxAssist,QtdeDocentesMonit,asQtdeDocentesEfetivos,QtdeDocentesTempo,QtdeDocentesTerceir,QtdedocentesCLT,QtdeDocentesComLicenciatura,QtdeAlunosTotal,Ideb-2017
CO_ENTIDADE,,,,,,,,,,,,,,,,,,,,,
27000095,2017,ESCOLA ESTADUAL MONSENHOR SEBASTIAO ALVES BEZERRA,00011,1,10/05/2017,15/12/2017,2,2701,27001,27,...,172.0,NaN,NaN,24.0,148.0,NaN,NaN,172.0,508,3.4
27001237,2017,ESCOLA ESTADUAL LUIZ BASTOS,00011,1,06/02/2017,15/12/2017,2,2701,27001,27,...,250.0,NaN,NaN,11.0,225.0,14.0,NaN,250.0,792,3.9
27002020,2017,ESCOLA ESTADUAL GENTIL DE ALBUQUERQUE MALTA,00011,1,06/03/2017,15/12/2017,2,2701,27001,27,...,222.0,NaN,NaN,5.0,217.0,NaN,NaN,222.0,652,3.3
27002063,2017,ESCOLA ESTADUAL SANTA CRUZ DO DESERTO,00011,1,06/03/2017,15/12/2017,2,2701,27001,27,...,73.0,NaN,NaN,13.0,40.0,20.0,NaN,63.0,309,3.8
27002950,2017,ESCOLA ESTADUAL DE EDUCACAO BASICA DE PARICONHA,00011,1,10/04/2017,15/12/2017,2,2701,27001,27,...,121.0,NaN,NaN,37.0,84.0,NaN,NaN,117.0,442,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27226697,2017,COLEGIO ROSALVO FELIX,00012,1,30/01/2017,22/12/2017,2,2703,27011,27,...,146.0,2.0,NaN,NaN,NaN,NaN,NaN,105.0,480,4.3
27226808,2017,ESCOLA ESTADUAL PROFA ELZA SOARES CAVALCANTE,00003,1,08/02/2017,14/12/2017,2,2702,27005,27,...,168.0,NaN,NaN,79.0,89.0,NaN,NaN,125.0,397,3.9
27227189,2017,COLEGIO DE EDUCACAO BASICA SANTA ESMERALDA,00005,1,16/01/2017,16/12/2017,2,2702,27006,27,...,207.0,14.0,NaN,NaN,NaN,NaN,NaN,85.0,985,5.7
27235009,2017,COLEGIO DE EDUCACAO BASICA SANTA AFRA,00005,1,17/01/2017,15/12/2017,2,2702,27006,27,...,202.0,7.0,NaN,NaN,NaN,NaN,NaN,190.0,627,5.1
27353036,2017,ESCOLA ESTADUAL DE ED BASICA E PROFISSIONAL JO...,00002,1,20/02/2017,29/12/2017,2,2703,27012,27,...,313.0,NaN,NaN,62.0,251.0,NaN,NaN,266.0,865,3.0

In [47]:
escolas_al.to_csv('C:/Users/maril/Documents/ufs/TCC e Pesquisa IDEB/ESCOLAS2017-AL.csv')