In [ ]:
c

Mounted at /content/drive

In [ ]:
!pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.1.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.27)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.8.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.6.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.10.0.2)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26781 sha256=c8af1bcd7605d6067981147694f0ea5428e2cfb08572d3d189ed3f7090ade140
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [ ]:
import pandas as pd
import numpy as np
import pandasql as psql

In [ ]:
#importando a base de dados
#escolas = pd.read_csv('C:/Users/maril/Documents/ufs/TCC e Pesquisa IDEB/micro_censo_escolar_2017 (1)/Microdados_Censo_Escolar_2017/DADOS/ESCOLAS.CSV', low_memory=False, sep='|', encoding='latin1')

escolas = pd.read_csv('/content/drive/MyDrive/TCC/ESCOLAS.CSV', encoding='latin1', sep='|')

escolas

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        NU_ANO_CENSO  CO_ENTIDADE  ... IN_COMUM_PROF IN_ESP_EXCLUSIVA_PROF
0               2017     50032062  ...           0.0                   0.0
1               2017     11016094  ...           0.0                   0.0
2               2017     21079196  ...           0.0                   0.0
3               2017     51062879  ...           0.0                   0.0
4               2017     31051659  ...           0.0                   0.0
...              ...          ...  ...           ...                   ...
282357          2017     33004609  ...           NaN                   NaN
282358          2017     33005028  ...           NaN                   NaN
282359          2017     33005290  ...           NaN                   NaN
282360          2017     33005303  ...           NaN                   NaN
282361          2017     33005370  ...           NaN                   NaN

[282362 rows x 166 columns]

In [ ]:
#Filtrando escolas da Bahia
escolas = escolas.loc[escolas['CO_UF'] == 29]

#escolas['Ideb-2017'] = ""

escolas.set_index('CO_ENTIDADE', inplace=True)

In [ ]:
columns = escolas.dtypes[escolas.dtypes == np.float64]

listOfColumnNames = list(columns.index)

escolas[listOfColumnNames].isnull().sum()

TP_CATEGORIA_ESCOLA_PRIVADA    27047
IN_CONVENIADA_PP               27047
TP_CONVENIO_PODER_PUBLICO      29303
IN_MANT_ESCOLA_PRIVADA_EMP     27047
IN_MANT_ESCOLA_PRIVADA_ONG     27047
                               ...
IN_ESP_EXCLUSIVA_EJA_FUND      11786
IN_ESP_EXCLUSIVA_EJA_MEDIO     11786
IN_ESP_EXCLUSIVA_EJA_PROF      11786
IN_COMUM_PROF                  11786
IN_ESP_EXCLUSIVA_PROF          11786
Length: 151, dtype: int64

In [ ]:
ideb = pd.read_csv('/content/drive/MyDrive/TCC/notas-ideb-2017.CSV', encoding='latin1', sep=';')

In [ ]:
#ideb = ideb[['Código da Escola', 'Nome da Escola', 'Ideb-2017']]

ideb.dtypes

Sigla da UF             object
Código do Município    float64
Nome do Município       object
Código da Escola       float64
Nome da Escola          object
Rede                    object
Ideb-2017               object
dtype: object

In [ ]:
ideb = ideb[['Código da Escola', 'Ideb-2017']]

In [ ]:
ideb.dropna(axis=0, inplace=True)

In [ ]:
ideb['Código da Escola'] = ideb['Código da Escola'].astype(int)

In [ ]:
ideb2017 = ideb

In [ ]:
import re

ideb_format = []

for index, row in ideb.iterrows():
  string = re.sub(',', '.', row['Ideb-2017'])
  ideb_format.append(string)

In [ ]:
ideb['Ideb-2017'] = ideb_format

In [ ]:
ideb.set_index('Código da Escola',inplace=True)

In [ ]:
escolas_ba = escolas.join(ideb, how='inner')

escolas_ba

          NU_ANO_CENSO  ... Ideb-2017
29433410          2017  ...       3.3
29208149          2017  ...       4.1
29526604          2017  ...       2.9
29424348          2017  ...       3.6
29005329          2017  ...       3.1
...                ...  ...       ...
29223687          2017  ...       2.9
29035007          2017  ...       3.9
29242290          2017  ...         4
29237645          2017  ...       3.7
29337941          2017  ...       2.5

[435 rows x 166 columns]

In [ ]:
escolas_ba.columns

Index(['NU_ANO_CENSO', 'NO_ENTIDADE', 'CO_ORGAO_REGIONAL',
       'TP_SITUACAO_FUNCIONAMENTO', 'DT_ANO_LETIVO_INICIO',
       'DT_ANO_LETIVO_TERMINO', 'CO_REGIAO', 'CO_MESORREGIAO',
       'CO_MICRORREGIAO', 'CO_UF',
       ...
       'IN_ESP_EXCLUSIVA_MEDIO_NORMAL', 'IN_COMUM_EJA_FUND',
       'IN_COMUM_EJA_MEDIO', 'IN_COMUM_EJA_PROF', 'IN_ESP_EXCLUSIVA_EJA_FUND',
       'IN_ESP_EXCLUSIVA_EJA_MEDIO', 'IN_ESP_EXCLUSIVA_EJA_PROF',
       'IN_COMUM_PROF', 'IN_ESP_EXCLUSIVA_PROF', 'Ideb-2017'],
      dtype='object', length=166)

In [ ]:
escolas_ba.to_csv('escolas_ba.csv')

In [ ]:
escolas_ba = pd.DataFrame(columns=escolas.columns)

for index, row in ideb.iterrows():
    escola = escolas.loc[escolas['NO_ENTIDADE'] == row['Escola']]
    escola['Ideb-2017'] = row['Ideb-2017']
    escolas_ba = escolas_ba.append(escola)

escolas_ba

KeyError: ignored

## Criando variáveis dos professores

In [ ]:
#professores = pd.read_csv('C:/Users/maril/Documents/ufs/TCC e Pesquisa IDEB/micro_censo_escolar_2017 (1)/Microdados_Censo_Escolar_2017/DADOS/DOCENTES_NORDESTE.CSV', low_memory=False, sep='|', encoding='latin1')

professores = pd.read_csv('/content/drive/MyDrive/TCC/DOCENTES_NORDESTE.CSV', encoding='latin1', sep='|')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (47) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
professores

         NU_ANO_CENSO  ...  IN_EDUCACAO_INDIGENA
0                2017  ...                     0
1                2017  ...                     0
2                2017  ...                     0
3                2017  ...                     0
4                2017  ...                     0
...               ...  ...                   ...
3154269          2017  ...                     0
3154270          2017  ...                     0
3154271          2017  ...                     0
3154272          2017  ...                     0
3154273          2017  ...                     0

[3154274 rows x 132 columns]

In [ ]:
professores = professores.loc[professores['CO_UF'] == 29]

In [ ]:
professores_ba = professores[['CO_ENTIDADE',
                              'IN_ESPECIALIZACAO',
                              'IN_MESTRADO',
                              'IN_DOUTORADO',
                              'IN_POS_NENHUM',
                              'IN_ESPECIFICO_ANOS_FINAIS',
                              'IN_DISC_DIVER_SOCIO_CULTURAL',
                              'IN_DISC_ATENDIMENTO_ESPECIAIS',
                              'CO_PESSOA_FISICA',
                              'ID_TURMA',
                              'TP_TIPO_DOCENTE',
                              'TP_TIPO_CONTRATACAO',
                              'IN_LICENCIATURA_1',
                              'IN_LICENCIATURA_2',
                              'IN_LICENCIATURA_3',]]

In [ ]:
professores = professores_ba

In [ ]:
professores_ba.to_csv('professores_ba.csv')

In [ ]:
def variaveis_pos(dataset, nome_coluna, nome_nova_coluna):
    variavel_derivada = dataset[['CO_ENTIDADE', nome_coluna]].loc[professores[nome_coluna] == 1]

    variavel_derivada = variavel_derivada.groupby(by='CO_ENTIDADE').count()

    variavel_derivada.rename(columns={nome_coluna:nome_nova_coluna}, inplace=True)

    return variavel_derivada

In [ ]:
#Criando variaveis derivadas sobre especializacao

colunas = {'IN_ESPECIALIZACAO':'QtdeDocentesEsp', 
           'IN_MESTRADO': 'QtdeDocentesMest', 
           'IN_DOUTORADO': 'QtdeDocentesDout',
           'IN_POS_NENHUM': 'QtdeDocentesSemPos',
           'IN_ESPECIFICO_ANOS_FINAIS': 'QtdeDocentesFCEM',
           'IN_DISC_DIVER_SOCIO_CULTURAL': 'QtdeDocentesDivSocCulta',
           'IN_DISC_ATENDIMENTO_ESPECIAIS' : 'QtdeDocentesAtendEsp'
           }

   # 'TP_TIPO_DOCENTE',
   # 'TP_TIPO_CONTRATACAO' 
   # 'CO_PESSOA_FISICA': 'QtdeDocentesTotal',
   # 'ID_TURMA': 'QtdeTurmasProf'  ,

pos_graduacao = pd.DataFrame()

for coluna, nova_coluna in colunas.items():
    if (pos_graduacao.empty):
        pos_graduacao = variaveis_pos(professores, coluna, nova_coluna)
    else:
        pos_graduacao = pos_graduacao.join(variaveis_pos(professores, coluna, nova_coluna))
    

pos_graduacao = pos_graduacao.fillna(0).astype(int)

####Criando variaveis derivadas quantidade de docentes, turmas, disciplinas voltadas a diversidade e atendimento especial

In [ ]:
sdf = psql.sqldf("select CO_ENTIDADE, count(CO_PESSOA_FISICA) as QtdeDocentesTotal, count(ID_TURMA) as QtdeTurmasProf from professores group by CO_ENTIDADE")

sdf.set_index('CO_ENTIDADE', inplace=True)

In [ ]:
variaveis_docentes = pd.DataFrame()

variaveis_docentes = pos_graduacao.join(sdf)

####Criando variaveis com 'TP_TIPO_DOCENTE'

In [ ]:


docentes = psql.sqldf("select CO_ENTIDADE, count(TP_TIPO_DOCENTE) as QtdeDocentes from professores where TP_TIPO_DOCENTE = 1 group by CO_ENTIDADE")

docentesAuxAssist = psql.sqldf("select CO_ENTIDADE, count(TP_TIPO_DOCENTE) as QtdeDocentesAuxAssist from professores where TP_TIPO_DOCENTE = 2 group by CO_ENTIDADE")

docentesMonit = psql.sqldf("select CO_ENTIDADE, count(TP_TIPO_DOCENTE) as QtdeDocentesMonit from professores where TP_TIPO_DOCENTE = 3 group by CO_ENTIDADE")

docentes.set_index('CO_ENTIDADE', inplace=True)

docentesAuxAssist.set_index('CO_ENTIDADE', inplace=True)

docentesMonit.set_index('CO_ENTIDADE', inplace=True)

In [ ]:
variaveis_docentes = variaveis_docentes.join(docentes)
variaveis_docentes = variaveis_docentes.join(docentesAuxAssist)
variaveis_docentes  = variaveis_docentes.join(docentesMonit)

variaveis_docentes

             QtdeDocentesEsp  ...  QtdeDocentesMonit
CO_ENTIDADE                   ...
29000220                   3  ...                NaN
29000289                   2  ...                NaN
29000521                   2  ...                NaN
29000599                  91  ...                NaN
29000777                   6  ...                NaN
...                      ...  ...                ...
29999774                   5  ...                NaN
29999790                   1  ...                NaN
29999812                  81  ...                NaN
29999847                   3  ...               16.0
29999863                   1  ...                NaN

[10567 rows x 12 columns]

#### Criando variaveis derivadas de'TP_TIPO_CONTRATACAO'

In [ ]:
docentesEfetivos = psql.sqldf("select CO_ENTIDADE, count(TP_TIPO_CONTRATACAO) asQtdeDocentesEfetivos from professores where TP_TIPO_CONTRATACAO = 1 group by CO_ENTIDADE")

docentesTempo = psql.sqldf("select CO_ENTIDADE, count(TP_TIPO_CONTRATACAO) as QtdeDocentesTempo from professores where TP_TIPO_CONTRATACAO = 2 group by CO_ENTIDADE")

docentesTerceir = psql.sqldf("select CO_ENTIDADE, count(TP_TIPO_CONTRATACAO) as QtdeDocentesTerceir from professores where TP_TIPO_CONTRATACAO = 3 group by CO_ENTIDADE")

docentesCLT = psql.sqldf("select CO_ENTIDADE, count(TP_TIPO_CONTRATACAO) as QtdedocentesCLT from professores where TP_TIPO_CONTRATACAO = 4 group by CO_ENTIDADE")

docentesEfetivos.set_index('CO_ENTIDADE', inplace=True)

docentesTempo.set_index('CO_ENTIDADE', inplace=True)

docentesTerceir.set_index('CO_ENTIDADE', inplace=True)

docentesCLT.set_index('CO_ENTIDADE', inplace=True)

In [ ]:
variaveis_docentes = variaveis_docentes.join(docentesEfetivos)
variaveis_docentes = variaveis_docentes.join(docentesTempo)
variaveis_docentes = variaveis_docentes.join(docentesTerceir)
variaveis_docentes = variaveis_docentes.join(docentesCLT)

####Criando variaveis de quantidade de profs licenciados

In [ ]:
licenciatura = psql.sqldf("select CO_ENTIDADE, count(1) as QtdeDocentesComLicenciatura from professores where IN_LICENCIATURA_3 = 1 or IN_LICENCIATURA_2 = 1 or IN_LICENCIATURA_1 = 1  group by CO_ENTIDADE")

licenciatura.set_index('CO_ENTIDADE', inplace=True)

In [ ]:
variaveis_docentes = variaveis_docentes.join(licenciatura)

In [ ]:
variaveis_docentes

             QtdeDocentesEsp  ...  QtdeDocentesComLicenciatura
CO_ENTIDADE                   ...
29000220                   3  ...                          9.0
29000289                   2  ...                          2.0
29000521                   2  ...                          2.0
29000599                  91  ...                        157.0
29000777                   6  ...                         10.0
...                      ...  ...                          ...
29999774                   5  ...                          7.0
29999790                   1  ...                          4.0
29999812                  81  ...                         79.0
29999847                   3  ...                         12.0
29999863                   1  ...                          5.0

[10567 rows x 17 columns]

####Quantidade de Alunos

In [ ]:
turma = pd.read_csv('/content/drive/MyDrive/TCC/TURMAS.CSV', low_memory=False, sep='|', encoding='latin1')

In [ ]:
#alunosTotal = psql.sqldf("select CO_ENTIDADE, count(NU_MATRICULAS) as QtdeAlunosTotal from turma group by CO_ENTIDADE")

alunosTotal = turma[['CO_ENTIDADE','NU_MATRICULAS']]

alunosTotal = alunosTotal.groupby(by='CO_ENTIDADE').sum()

#alunosTotal.set_index('CO_ENTIDADE', inplace=True)

alunosTotal.rename(columns={'NU_MATRICULAS': 'QtdeAlunosTotal'}, inplace=True)

In [ ]:
alunosTotal

             QtdeAlunosTotal
CO_ENTIDADE
11000023                 151
11000040                 283
11000058                1514
11000082                  85
11000104                 466
...                      ...
53084055                 559
53085000                 483
53086007                 187
53087011                  55
53088000                 123

[185925 rows x 1 columns]

In [ ]:
variaveis_docentes = variaveis_docentes.join(alunosTotal)

#variaveis_docentes.fillna(0, inplace=True)

#variaveis_docentes = variaveis_docentes.astype(int)

variaveis_docentes

             QtdeDocentesEsp  ...  QtdeAlunosTotal
CO_ENTIDADE                   ...
29000220                   3  ...              190
29000289                   2  ...              161
29000521                   2  ...              148
29000599                  91  ...              420
29000777                   6  ...               12
...                      ...  ...              ...
29999774                   5  ...               95
29999790                   1  ...               90
29999812                  81  ...              250
29999847                   3  ...              347
29999863                   1  ...              106

[10567 rows x 18 columns]

In [ ]:
#escoals_ba.set_index('CO_ENTIDADE', inplace=True)

escolas_ba = escolas_ba.join(variaveis_docentes, how="inner")

In [ ]:
ideb2017= escolas_ba[['Ideb-2017']]

escolas_ba.drop('Ideb-2017', axis=1, inplace=True)

In [ ]:
ideb2017.index

Int64Index([29433410, 29208149, 29526604, 29424348, 29378052, 29050910,
            29390737, 29387019, 29034280, 29093473,
            ...
            29043085, 29429269, 29096847, 29069106, 29192021, 29223687,
            29035007, 29242290, 29237645, 29337941],
           dtype='int64', length=431)

In [ ]:
ideb2017 = ideb2017.astype(float)

In [ ]:
columns = escolas_ba.dtypes[escolas_ba.dtypes == np.float64]

listOfColumnNames = list(columns.index)

escolas_ba[listOfColumnNames] = escolas_ba[listOfColumnNames].fillna(0).astype(int)

In [ ]:
escolas_ba['Ideb-2017'] = ideb2017

In [ ]:
escolas_ba

          NU_ANO_CENSO  ... Ideb-2017
29433410          2017  ...       3.3
29208149          2017  ...       4.1
29526604          2017  ...       2.9
29424348          2017  ...       3.6
29378052          2017  ...       6.4
...                ...  ...       ...
29223687          2017  ...       2.9
29035007          2017  ...       3.9
29242290          2017  ...       4.0
29237645          2017  ...       3.7
29337941          2017  ...       2.5

[431 rows x 184 columns]

In [ ]:
escolas_ba.to_csv('/content/drive/MyDrive/TCC/ESCOLAS2017-BA.csv')