# Criação de Variáveis Derivadas da Base da Prova do SAEB 2017
### As variáveis são de informações dos estudantes das turmas de 3º ano do ensino médio de escolas alagoanas

In [1]:
import pandas as pd

In [2]:
#importando a base de dados
dataset = pd.read_csv('C:/Users/maril/Documents/ufs/TCC e Pesquisa IDEB/TS_ALUNO_3EM_ESC.csv')

In [3]:
#Filtrando estudantes de Sergipe
base_saeb_al = dataset.loc[dataset['ID_UF'] == 27]

base_saeb_al

,ID_PROVA_BRASIL,ID_REGIAO,ID_UF,ID_MUNICIPIO,ID_AREA,ID_ESCOLA,ID_DEPENDENCIA_ADM,ID_LOCALIZACAO,ID_TURMA,ID_TURNO,...,TX_RESP_Q051,TX_RESP_Q052,TX_RESP_Q053,TX_RESP_Q054,TX_RESP_Q055,TX_RESP_Q056,TX_RESP_Q057,TX_RESP_Q058,TX_RESP_Q059,TX_RESP_Q060
450954,2017,2,27,2700102,2,27000095,2,1,735270,2,...,A,A,A,A,A,B,B,B,A,B
450955,2017,2,27,2700102,2,27000095,2,1,735270,2,...,A,A,A,A,B,A,B,B,A,C
450956,2017,2,27,2700102,2,27000095,2,1,735270,2,...,A,A,A,A,A,A,B,B,A,B
450957,2017,2,27,2700102,2,27000095,2,1,735270,2,...,A,A,A,A,A,B,B,B,A,C
450958,2017,2,27,2700102,2,27000095,2,1,735270,2,...,A,A,A,A,B,A,B,B,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472396,2017,2,27,6307204,2,61218351,1,1,939208,1,...,A,B,B,A,A,B,B,A,A,B
472397,2017,2,27,6307204,2,61218351,1,1,939208,1,...,B,A,B,A,A,A,B,A,A,B
472398,2017,2,27,6307204,2,61218351,1,1,939208,1,...,D,A,A,A,A,A,B,B,A,B
472399,2017,2,27,6307204,2,61218351,1,1,939208,1,...,B,B,B,A,A,A,B,A,A,B
472400,2017,2,27,6307204,2,61218351,1,1,939208,1,...,A,A,A,A,A,A,B,A,A,B

In [4]:
base_saeb_al.columns

Index(['ID_PROVA_BRASIL', 'ID_REGIAO', 'ID_UF', 'ID_MUNICIPIO', 'ID_AREA',
       'ID_ESCOLA', 'ID_DEPENDENCIA_ADM', 'ID_LOCALIZACAO', 'ID_TURMA',
       'ID_TURNO', 'ID_SERIE', 'ID_ALUNO', 'IN_SITUACAO_CENSO',
       'IN_PREENCHIMENTO_PROVA', 'IN_PRESENCA_PROVA', 'ID_CADERNO',
       'ID_BLOCO_1', 'ID_BLOCO_2', 'TX_RESP_BLOCO_1_LP', 'TX_RESP_BLOCO_2_LP',
       'TX_RESP_BLOCO_1_MT', 'TX_RESP_BLOCO_2_MT', 'IN_PROFICIENCIA',
       'IN_PROVA_BRASIL', 'ESTRATO_ANEB', 'PESO_ALUNO_LP', 'PESO_ALUNO_MT',
       'PROFICIENCIA_LP', 'ERRO_PADRAO_LP', 'PROFICIENCIA_LP_SAEB',
       'ERRO_PADRAO_LP_SAEB', 'PROFICIENCIA_MT', 'ERRO_PADRAO_MT',
       'PROFICIENCIA_MT_SAEB', 'ERRO_PADRAO_MT_SAEB',
       'IN_PREENCHIMENTO_QUESTIONARIO', 'TX_RESP_Q001', 'TX_RESP_Q002',
       'TX_RESP_Q003', 'TX_RESP_Q004', 'TX_RESP_Q005', 'TX_RESP_Q006',
       'TX_RESP_Q007', 'TX_RESP_Q008', 'TX_RESP_Q009', 'TX_RESP_Q010',
       'TX_RESP_Q011', 'TX_RESP_Q012', 'TX_RESP_Q013', 'TX_RESP_Q014',
       'TX_RESP_Q015', 'TX_RESP_Q016', 'TX_RESP_Q017', 'TX_RESP_Q018',
       'TX_RESP_Q019', 'TX_RESP_Q020', 'TX_RESP_Q021', 'TX_RESP_Q022',
       'TX_RESP_Q023', 'TX_RESP_Q024', 'TX_RESP_Q025', 'TX_RESP_Q026',
       'TX_RESP_Q027', 'TX_RESP_Q028', 'TX_RESP_Q029', 'TX_RESP_Q030',
       'TX_RESP_Q031', 'TX_RESP_Q032', 'TX_RESP_Q033', 'TX_RESP_Q034',
       'TX_RESP_Q035', 'TX_RESP_Q036', 'TX_RESP_Q037', 'TX_RESP_Q038',
       'TX_RESP_Q039', 'TX_RESP_Q040', 'TX_RESP_Q041', 'TX_RESP_Q042',
       'TX_RESP_Q043', 'TX_RESP_Q044', 'TX_RESP_Q045', 'TX_RESP_Q046',
       'TX_RESP_Q047', 'TX_RESP_Q048', 'TX_RESP_Q049', 'TX_RESP_Q050',
       'TX_RESP_Q051', 'TX_RESP_Q052', 'TX_RESP_Q053', 'TX_RESP_Q054',
       'TX_RESP_Q055', 'TX_RESP_Q056', 'TX_RESP_Q057', 'TX_RESP_Q058',
       'TX_RESP_Q059', 'TX_RESP_Q060'],
      dtype='object')

In [5]:
#Informações Gerais da escola 
info_escola = base_saeb_al[['ID_PROVA_BRASIL', 'ID_REGIAO', 'ID_UF', 'ID_MUNICIPIO', 'ID_AREA',
       'ID_ESCOLA', 'ID_DEPENDENCIA_ADM', 'ID_LOCALIZACAO', 'IN_SITUACAO_CENSO']]

info_escola = info_escola.drop_duplicates()
info_escola.set_index('ID_ESCOLA', inplace=True)

info_escola

,ID_PROVA_BRASIL,ID_REGIAO,ID_UF,ID_MUNICIPIO,ID_AREA,ID_DEPENDENCIA_ADM,ID_LOCALIZACAO,IN_SITUACAO_CENSO
ID_ESCOLA,,,,,,,,
27000095,2017,2,27,2700102,2,2,1,1
61188278,2017,2,27,2700201,2,2,1,1
27016331,2017,2,27,2700300,2,2,1,1
27016366,2017,2,27,2700300,2,2,1,1
27016382,2017,2,27,2700300,2,2,1,1
...,...,...,...,...,...,...,...,...
61206951,2017,2,27,6307176,2,4,1,1
61178197,2017,2,27,6307192,2,4,1,1
61197558,2017,2,27,6307192,2,4,1,1
61231730,2017,2,27,6307201,2,4,1,1
61218351,2017,2,27,6307204,2,1,1,1

In [9]:
base_saeb_al.loc[base_saeb_al['ID_ESCOLA'] == 28017943]

Empty DataFrame
Columns: [ID_PROVA_BRASIL, ID_REGIAO, ID_UF, ID_MUNICIPIO, ID_AREA, ID_ESCOLA, ID_DEPENDENCIA_ADM, ID_LOCALIZACAO, ID_TURMA, ID_TURNO, ID_SERIE, ID_ALUNO, IN_SITUACAO_CENSO, IN_PREENCHIMENTO_PROVA, IN_PRESENCA_PROVA, ID_CADERNO, ID_BLOCO_1, ID_BLOCO_2, TX_RESP_BLOCO_1_LP, TX_RESP_BLOCO_2_LP, TX_RESP_BLOCO_1_MT, TX_RESP_BLOCO_2_MT, IN_PROFICIENCIA, IN_PROVA_BRASIL, ESTRATO_ANEB, PESO_ALUNO_LP, PESO_ALUNO_MT, PROFICIENCIA_LP, ERRO_PADRAO_LP, PROFICIENCIA_LP_SAEB, ERRO_PADRAO_LP_SAEB, PROFICIENCIA_MT, ERRO_PADRAO_MT, PROFICIENCIA_MT_SAEB, ERRO_PADRAO_MT_SAEB, IN_PREENCHIMENTO_QUESTIONARIO, TX_RESP_Q001, TX_RESP_Q002, TX_RESP_Q003, TX_RESP_Q004, TX_RESP_Q005, TX_RESP_Q006, TX_RESP_Q007, TX_RESP_Q008, TX_RESP_Q009, TX_RESP_Q010, TX_RESP_Q011, TX_RESP_Q012, TX_RESP_Q013, TX_RESP_Q014, TX_RESP_Q015, TX_RESP_Q016, TX_RESP_Q017, TX_RESP_Q018, TX_RESP_Q019, TX_RESP_Q020, TX_RESP_Q021, TX_RESP_Q022, TX_RESP_Q023, TX_RESP_Q024, TX_RESP_Q025, TX_RESP_Q026, TX_RESP_Q027, TX_RESP_Q028, TX_RESP_Q029, TX_RESP_Q030, TX_RESP_Q031, TX_RESP_Q032, TX_RESP_Q033, TX_RESP_Q034, TX_RESP_Q035, TX_RESP_Q036, TX_RESP_Q037, TX_RESP_Q038, TX_RESP_Q039, TX_RESP_Q040, TX_RESP_Q041, TX_RESP_Q042, TX_RESP_Q043, TX_RESP_Q044, TX_RESP_Q045, TX_RESP_Q046, TX_RESP_Q047, TX_RESP_Q048, TX_RESP_Q049, TX_RESP_Q050, TX_RESP_Q051, TX_RESP_Q052, TX_RESP_Q053, TX_RESP_Q054, TX_RESP_Q055, TX_RESP_Q056, TX_RESP_Q057, TX_RESP_Q058, TX_RESP_Q059, TX_RESP_Q060]
Index: []

[0 rows x 96 columns]

In [6]:
#Valor dos Parametros: base de dados, id da escola, pergunta do saeb e respostas
#Valor de Retorno: Variavel Derivada
#Funcao contabiliza as respostas para uma determinada pergunta
def criar_variavel_derivada(base, escola, pergunta, respostas):
    
    base_saeb = base[pergunta].value_counts().to_frame().T
    
    variavel_derivada = pd.DataFrame()
    
    for resposta in respostas:
        col =  pergunta+'_'+resposta
        if resposta in base_saeb.columns:
            variavel_derivada[col] = base_saeb[resposta]
        else:
            variavel_derivada[col] = 0
    
    variavel_derivada['ID_ESCOLA'] = escola

    variavel_derivada.set_index('ID_ESCOLA', inplace=True)
    '''
    base_saeb = base.groupby([pergunta]).count()
    aux = base_saeb[['ID_PROVA_BRASIL']]
    variavel_derivada = pd.DataFrame()
    
    for resposta in respostas:
        column = pergunta+'_'+ resposta
        variavel_derivada[column] = 0

    for resposta in aux.index:
        column = pergunta+'_'+ resposta
        var = aux.loc[aux.index == resposta]
        variavel_derivada[column] = var.values.reshape(-1)
    
    variavel_derivada['ID_ESCOLA'] = escola

    variavel_derivada.set_index('ID_ESCOLA', inplace=True)
    '''
    return variavel_derivada

In [11]:
len(base_saeb_al['ID_ESCOLA'].unique())

244

In [7]:
#Valor dos Parametros: base de dados, id da escola, perguntas do saeb e respostas
#Valor de Retorno: Variaveis Derivadas de uma escola
def variaveis_derivadas(base_dados, escola, perguntas, respostas):
    
    variavel = pd.DataFrame()
    
    for pergunta in perguntas: 
        if (variavel.empty):
            variavel = criar_variavel_derivada(base_dados, escola, pergunta, respostas)
        else:
            variavel = variavel.join(criar_variavel_derivada(base_dados, escola, pergunta, respostas))
    
    return variavel

In [8]:
#separando as respostas pela quantidade de respostas que ela tem
escolas = base_saeb_al['ID_ESCOLA'].unique()

respostas = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'L']

perguntas_duas_respostas = ['TX_RESP_Q001', 'TX_RESP_Q020', 'TX_RESP_Q021', 'TX_RESP_Q024', 'TX_RESP_Q025', 
                            'TX_RESP_Q027', 'TX_RESP_Q028', 'TX_RESP_Q029', 'TX_RESP_Q030', 'TX_RESP_Q031', 
                            'TX_RESP_Q038', 'TX_RESP_Q043', 'TX_RESP_Q044', 'TX_RESP_Q052']

perguntas_tres_respostas = ['TX_RESP_Q018', 'TX_RESP_Q022', 'TX_RESP_Q026', 'TX_RESP_Q032', 'TX_RESP_Q033',
                           'TX_RESP_Q034', 'TX_RESP_Q035', 'TX_RESP_Q040', 'TX_RESP_Q041', 'TX_RESP_Q042', 
                            'TX_RESP_Q046', 'TX_RESP_Q047', 'TX_RESP_Q048', 'TX_RESP_Q049', 'TX_RESP_Q050', 
                            'TX_RESP_Q054', 'TX_RESP_Q055', 'TX_RESP_Q056', 'TX_RESP_Q057', 'TX_RESP_Q058']

perguntas_quatro_respostas = ['TX_RESP_Q039', 'TX_RESP_Q045', 'TX_RESP_Q051', 'TX_RESP_Q053', 'TX_RESP_Q059',
                              'TX_RESP_Q060']

perguntas_cinco_respostas = ['TX_RESP_Q005', 'TX_RESP_Q006', 'TX_RESP_Q007', 'TX_RESP_Q008', 'TX_RESP_Q009',
                             'TX_RESP_Q010', 'TX_RESP_Q011', 'TX_RESP_Q012', 'TX_RESP_Q013', 'TX_RESP_Q014',
                             'TX_RESP_Q015', 'TX_RESP_Q017', 'TX_RESP_Q036', 'TX_RESP_Q037']

perguntas_seis_respostas = ['TX_RESP_Q002', 'TX_RESP_Q016']

perguntas_sete_respostas = ['TX_RESP_Q019', 'TX_RESP_Q023']

perguntas_oito_respostas = ['TX_RESP_Q004']

perguntas_doze_respostas = ['TX_RESP_Q003']

In [9]:
dataframe_duas_respostas = pd.DataFrame()
dataframe_tres_respostas = pd.DataFrame()
dataframe_quatro_respostas = pd.DataFrame()
dataframe_cinco_respostas = pd.DataFrame()
dataframe_seis_respostas = pd.DataFrame()
dataframe_sete_respostas = pd.DataFrame()
dataframe_oito_respostas = pd.DataFrame()
dataframe_doze_respostas = pd.DataFrame()

In [10]:
#gerando variaveis derivadas

for escola in escolas:
    base = base_saeb_al.loc[base_saeb_al['ID_ESCOLA'] == escola]
    
    dataframe_duas_respostas = dataframe_duas_respostas.append(variaveis_derivadas(base, escola, perguntas_duas_respostas, respostas[:2]))
    
    dataframe_tres_respostas = dataframe_tres_respostas.append(variaveis_derivadas(base, escola, perguntas_tres_respostas, respostas[:3]))

    dataframe_quatro_respostas = dataframe_quatro_respostas.append(variaveis_derivadas(base, escola, perguntas_quatro_respostas, respostas[:4]))

    dataframe_cinco_respostas = dataframe_cinco_respostas.append(variaveis_derivadas(base, escola, perguntas_cinco_respostas, respostas[:5]))
    
    dataframe_seis_respostas = dataframe_seis_respostas.append(variaveis_derivadas(base, escola, perguntas_seis_respostas, respostas[:6]))

    dataframe_sete_respostas = dataframe_sete_respostas.append(variaveis_derivadas(base, escola, perguntas_sete_respostas, respostas[:7]))

    dataframe_oito_respostas = dataframe_oito_respostas.append(variaveis_derivadas(base, escola, perguntas_oito_respostas, respostas[:8]))

    dataframe_doze_respostas = dataframe_doze_respostas.append(variaveis_derivadas(base, escola, perguntas_doze_respostas, respostas[:12]))

In [24]:
dataframe_quatro_respostas

,TX_RESP_Q039_A,TX_RESP_Q039_B,TX_RESP_Q039_C,TX_RESP_Q039_D,TX_RESP_Q045_A,TX_RESP_Q045_B,TX_RESP_Q045_C,TX_RESP_Q045_D,TX_RESP_Q051_A,TX_RESP_Q051_B,...,TX_RESP_Q053_C,TX_RESP_Q053_D,TX_RESP_Q059_A,TX_RESP_Q059_B,TX_RESP_Q059_C,TX_RESP_Q059_D,TX_RESP_Q060_A,TX_RESP_Q060_B,TX_RESP_Q060_C,TX_RESP_Q060_D
ID_ESCOLA,,,,,,,,,,,,,,,,,,,,,
28012631,10.0,5,3,0,11,6,1,1,18,0,...,3,0,18,0,0,1,4.0,9.0,6,0
61178208,12.0,29,6,1,35,14,1,0,39,8,...,0,0,46,2,1,0,6.0,13.0,14,17
61211437,44.0,52,10,0,58,39,5,4,76,22,...,12,2,89,9,2,3,5.0,17.0,40,44
28017846,13.0,25,3,0,24,12,4,1,36,3,...,0,0,37,4,0,0,4.0,22.0,15,0
28017854,36.0,53,13,1,69,31,1,0,88,14,...,7,7,71,20,5,7,8.0,49.0,44,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61247893,23.0,25,1,0,14,24,9,2,26,16,...,16,1,28,18,2,1,1.0,13.0,32,3
61229418,14.0,41,3,0,29,29,1,0,45,11,...,1,0,58,2,0,0,13.0,38.0,9,0
61214852,11.0,8,0,0,13,6,0,0,18,0,...,0,0,19,0,0,0,NaN,4.0,8,7
61215477,18.0,8,1,0,16,8,3,0,27,0,...,0,0,23,2,2,0,NaN,NaN,4,23
61231744,9.0,13,0,0,11,7,1,3,17,2,...,0,0,21,1,0,0,NaN,4.0,10,8

In [23]:
#unindo dataframes de respostas

dataframe_var_derivadas = dataframe_duas_respostas
dataframe_var_derivadas = dataframe_var_derivadas.join(dataframe_tres_respostas)
dataframe_var_derivadas = dataframe_var_derivadas.join(dataframe_quatro_respostas)
dataframe_var_derivadas = dataframe_var_derivadas.join(dataframe_cinco_respostas)
dataframe_var_derivadas = dataframe_var_derivadas.join(dataframe_seis_respostas)
dataframe_var_derivadas = dataframe_var_derivadas.join(dataframe_sete_respostas)
dataframe_var_derivadas = dataframe_var_derivadas.join(dataframe_oito_respostas)
dataframe_var_derivadas = dataframe_var_derivadas.join(dataframe_doze_respostas)


dataframe_var_derivadas.fillna(0, inplace=True)

dataframe_var_derivadas = dataframe_var_derivadas.astype(int)

dataframe_var_derivadas

,TX_RESP_Q001_A,TX_RESP_Q001_B,TX_RESP_Q020_A,TX_RESP_Q020_B,TX_RESP_Q021_A,TX_RESP_Q021_B,TX_RESP_Q024_A,TX_RESP_Q024_B,TX_RESP_Q025_A,TX_RESP_Q025_B,...,TX_RESP_Q003_B,TX_RESP_Q003_C,TX_RESP_Q003_D,TX_RESP_Q003_E,TX_RESP_Q003_F,TX_RESP_Q003_G,TX_RESP_Q003_H,TX_RESP_Q003_I,TX_RESP_Q003_J,TX_RESP_Q003_L
ID_ESCOLA,,,,,,,,,,,,,,,,,,,,,
27000095,38,59,75,22,68,30,68,28,40,50,...,6,6,7,9,11,9,11,7,7,7
61188278,39,73,92,28,73,45,78,34,54,56,...,11,14,13,13,14,11,13,4,3,5
27016331,45,100,121,26,101,45,120,26,85,59,...,13,19,11,15,10,14,13,10,7,11
27016366,22,18,36,5,32,9,29,13,20,22,...,3,4,3,5,5,3,2,1,3,4
27016382,17,9,23,2,20,5,21,5,16,10,...,3,3,4,2,4,1,2,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61206951,8,13,20,1,18,3,20,1,15,6,...,3,2,2,2,2,4,0,0,1,2
61178197,7,23,30,0,23,7,29,1,24,5,...,3,3,2,2,4,3,1,1,4,3
61197558,6,6,12,0,10,2,11,0,8,3,...,1,0,1,2,0,3,0,1,1,2
61231730,17,17,34,0,32,2,34,0,26,8,...,0,4,8,5,1,3,4,2,2,2
61218351,41,61,92,12,69,35,89,15,45,60,...,11,11,7,16,8,10,4,2,11,8

In [24]:
dataframe_var_derivadas = info_escola.join(dataframe_var_derivadas)

In [25]:
#exportando variaveis
dataframe_var_derivadas.to_csv('C:/Users/maril/Documents/ufs/TCC e Pesquisa IDEB/variaveis_derivadas_al.csv')

In [18]:
#Verificando se os códigos das escolas particulares são fictícios

dataframe_var_derivadas.loc[dataframe_var_derivadas['ID_DEPENDENCIA_ADM'] == 4]

,ID_PROVA_BRASIL,ID_REGIAO,ID_UF,ID_MUNICIPIO,ID_AREA,ID_DEPENDENCIA_ADM,ID_LOCALIZACAO,IN_SITUACAO_CENSO,TX_RESP_Q001_A,TX_RESP_Q001_B,...,TX_RESP_Q003_B,TX_RESP_Q003_C,TX_RESP_Q003_D,TX_RESP_Q003_E,TX_RESP_Q003_F,TX_RESP_Q003_G,TX_RESP_Q003_H,TX_RESP_Q003_I,TX_RESP_Q003_J,TX_RESP_Q003_L
ID_ESCOLA,,,,,,,,,,,,,,,,,,,,,
61201904,2017,2,27,6307112,2,4,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61205000,2017,2,27,6307112,2,4,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61209140,2017,2,27,6307112,2,4,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61218593,2017,2,27,6307112,2,4,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61222118,2017,2,27,6307112,2,4,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61227791,2017,2,27,6307112,2,4,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61247764,2017,2,27,6307112,2,4,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61211428,2017,2,27,6307119,2,4,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61177063,2017,2,27,6307135,2,4,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61182578,2017,2,27,6307156,1,4,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61185810,2017,2,27,6307156,1,4,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61191464,2017,2,27,6307156,1,4,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61195179,2017,2,27,6307156,1,4,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61201899,2017,2,27,6307156,1,4,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61205009,2017,2,27,6307156,1,4,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61205019,2017,2,27,6307156,1,4,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61205475,2017,2,27,6307156,1,4,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61208849,2017,2,27,6307156,1,4,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61210229,2017,2,27,6307156,1,4,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61214834,2017,2,27,6307156,1,4,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61220757,2017,2,27,6307156,1,4,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61225378,2017,2,27,6307156,1,4,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61234679,2017,2,27,6307156,1,4,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61234684,2017,2,27,6307156,1,4,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61238697,2017,2,27,6307156,1,4,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61238698,2017,2,27,6307156,1,4,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61238702,2017,2,27,6307156,1,4,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61239894,2017,2,27,6307156,1,4,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61247876,2017,2,27,6307156,1,4,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61185812,2017,2,27,6307176,2,4,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61206951,2017,2,27,6307176,2,4,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61178197,2017,2,27,6307192,2,4,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61197558,2017,2,27,6307192,2,4,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61231730,2017,2,27,6307201,2,4,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
#Função que verifica se o ID de uma escola é inválido
#Segundo o Dicionário de Dados da base o SAEB 6 - Os códigos dos Municípios e 
#das Escolas que começam com o dígito "6" são máscaras, isto é, são códigos fictícios.
def retira_id_ficticio(id_escola):
    if id_escola[0] == "6":
        return True
    else:
        return False

In [19]:
#Se retirou as escolas fictícias
for escola in dataframe_var_derivadas.index:
    if (retira_id_ficticio(str(escola))):
        dataframe_var_derivadas.drop(escola, inplace=True)
        

dataframe_var_derivadas

,ID_PROVA_BRASIL,ID_REGIAO,ID_UF,ID_MUNICIPIO,ID_AREA,ID_DEPENDENCIA_ADM,ID_LOCALIZACAO,IN_SITUACAO_CENSO,TX_RESP_Q001_A,TX_RESP_Q001_B,...,TX_RESP_Q003_B,TX_RESP_Q003_C,TX_RESP_Q003_D,TX_RESP_Q003_E,TX_RESP_Q003_F,TX_RESP_Q003_G,TX_RESP_Q003_H,TX_RESP_Q003_I,TX_RESP_Q003_J,TX_RESP_Q003_L
ID_ESCOLA,,,,,,,,,,,,,,,,,,,,,
27000095,2017,2,27,2700102,2,2,1,1,38.0,59.0,...,6.0,6.0,7.0,9.0,11.0,9.0,11.0,7.0,7.0,7.0
27016331,2017,2,27,2700300,2,2,1,1,45.0,100.0,...,13.0,19.0,11.0,15.0,10.0,14.0,13.0,10.0,7.0,11.0
27016366,2017,2,27,2700300,2,2,1,1,22.0,18.0,...,3.0,4.0,3.0,5.0,5.0,3.0,2.0,1.0,3.0,4.0
27016382,2017,2,27,2700300,2,2,1,1,17.0,9.0,...,3.0,3.0,4.0,2.0,4.0,1.0,2.0,1.0,2.0,0.0
27016412,2017,2,27,2700300,2,2,1,1,20.0,26.0,...,3.0,2.0,2.0,3.0,5.0,5.0,4.0,7.0,3.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27024059,2017,2,27,2709301,2,2,1,1,73.0,106.0,...,12.0,16.0,14.0,19.0,19.0,17.0,12.0,15.0,19.0,16.0
27024067,2017,2,27,2709301,2,2,1,1,21.0,17.0,...,1.0,4.0,4.0,1.0,3.0,1.0,4.0,1.0,6.0,5.0
27025047,2017,2,27,2709301,2,2,1,1,31.0,59.0,...,3.0,8.0,6.0,5.0,7.0,8.0,12.0,7.0,10.0,6.0
27025080,2017,2,27,2709400,2,2,1,1,57.0,102.0,...,6.0,20.0,14.0,15.0,20.0,14.0,11.0,11.0,9.0,18.0
27025519,2017,2,27,2709400,2,2,1,1,20.0,31.0,...,2.0,3.0,4.0,6.0,7.0,5.0,2.0,3.0,6.0,1.0

In [20]:
dataframe_var_derivadas['ID_DEPENDENCIA_ADM'].unique()

array([2, 1], dtype=int64)