# Criação de Variáveis Derivadas da Base da Prova do SAEB 2017
### As variáveis são de informações dos estudantes das turmas de 3º ano do ensino médio de escolas sergipanas

In [1]:
import pandas as pd

In [2]:
#importando a base de dados
dataset = pd.read_csv('C:/Users/maril/Documents/ufs/TCC e Pesquisa IDEB/TS_ALUNO_3EM_ESC.csv')

In [3]:
#Filtrando estudantes de Sergipe
base_saeb_se = dataset.loc[dataset['ID_UF'] == 28]

base_saeb_se

,ID_PROVA_BRASIL,ID_REGIAO,ID_UF,ID_MUNICIPIO,ID_AREA,ID_ESCOLA,ID_DEPENDENCIA_ADM,ID_LOCALIZACAO,ID_TURMA,ID_TURNO,...,TX_RESP_Q051,TX_RESP_Q052,TX_RESP_Q053,TX_RESP_Q054,TX_RESP_Q055,TX_RESP_Q056,TX_RESP_Q057,TX_RESP_Q058,TX_RESP_Q059,TX_RESP_Q060
472401,2017,2,28,2800100,2,28012631,2,1,812201,1,...,A,A,B,A,B,B,B,A,A,C
472402,2017,2,28,2800100,2,28012631,2,1,812201,1,...,A,B,B,NaN,NaN,NaN,NaN,A,A,A
472403,2017,2,28,2800100,2,28012631,2,1,812201,1,...,A,B,A,A,A,B,A,A,A,B
472404,2017,2,28,2800100,2,28012631,2,1,812201,1,...,A,A,A,A,NaN,NaN,NaN,NaN,A,A
472405,2017,2,28,2800100,2,28012631,2,1,812201,1,...,A,A,A,B,B,B,B,A,A,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486157,2017,2,28,6307286,2,61231744,4,1,831273,2,...,A,B,B,A,A,A,B,A,A,C
486158,2017,2,28,6307286,2,61231744,4,1,831273,2,...,A,B,B,A,A,B,B,A,A,C
486159,2017,2,28,6307286,2,61231744,4,1,831273,2,...,A,B,NaN,A,B,A,B,A,A,D
486160,2017,2,28,6307286,2,61231744,4,1,831273,2,...,C,B,A,A,A,A,B,A,A,D
486161,2017,2,28,6307286,2,61231744,4,1,831273,2,...,A,A,B,A,A,A,B,A,A,C

In [5]:
base_saeb_se.columns

Index(['ID_PROVA_BRASIL', 'ID_REGIAO', 'ID_UF', 'ID_MUNICIPIO', 'ID_AREA',
       'ID_ESCOLA', 'ID_DEPENDENCIA_ADM', 'ID_LOCALIZACAO', 'ID_TURMA',
       'ID_TURNO', 'ID_SERIE', 'ID_ALUNO', 'IN_SITUACAO_CENSO',
       'IN_PREENCHIMENTO_PROVA', 'IN_PRESENCA_PROVA', 'ID_CADERNO',
       'ID_BLOCO_1', 'ID_BLOCO_2', 'TX_RESP_BLOCO_1_LP', 'TX_RESP_BLOCO_2_LP',
       'TX_RESP_BLOCO_1_MT', 'TX_RESP_BLOCO_2_MT', 'IN_PROFICIENCIA',
       'IN_PROVA_BRASIL', 'ESTRATO_ANEB', 'PESO_ALUNO_LP', 'PESO_ALUNO_MT',
       'PROFICIENCIA_LP', 'ERRO_PADRAO_LP', 'PROFICIENCIA_LP_SAEB',
       'ERRO_PADRAO_LP_SAEB', 'PROFICIENCIA_MT', 'ERRO_PADRAO_MT',
       'PROFICIENCIA_MT_SAEB', 'ERRO_PADRAO_MT_SAEB',
       'IN_PREENCHIMENTO_QUESTIONARIO', 'TX_RESP_Q001', 'TX_RESP_Q002',
       'TX_RESP_Q003', 'TX_RESP_Q004', 'TX_RESP_Q005', 'TX_RESP_Q006',
       'TX_RESP_Q007', 'TX_RESP_Q008', 'TX_RESP_Q009', 'TX_RESP_Q010',
       'TX_RESP_Q011', 'TX_RESP_Q012', 'TX_RESP_Q013', 'TX_RESP_Q014',
       'TX_RESP_Q015', 'TX_RESP_Q016', 'TX_RESP_Q017', 'TX_RESP_Q018',
       'TX_RESP_Q019', 'TX_RESP_Q020', 'TX_RESP_Q021', 'TX_RESP_Q022',
       'TX_RESP_Q023', 'TX_RESP_Q024', 'TX_RESP_Q025', 'TX_RESP_Q026',
       'TX_RESP_Q027', 'TX_RESP_Q028', 'TX_RESP_Q029', 'TX_RESP_Q030',
       'TX_RESP_Q031', 'TX_RESP_Q032', 'TX_RESP_Q033', 'TX_RESP_Q034',
       'TX_RESP_Q035', 'TX_RESP_Q036', 'TX_RESP_Q037', 'TX_RESP_Q038',
       'TX_RESP_Q039', 'TX_RESP_Q040', 'TX_RESP_Q041', 'TX_RESP_Q042',
       'TX_RESP_Q043', 'TX_RESP_Q044', 'TX_RESP_Q045', 'TX_RESP_Q046',
       'TX_RESP_Q047', 'TX_RESP_Q048', 'TX_RESP_Q049', 'TX_RESP_Q050',
       'TX_RESP_Q051', 'TX_RESP_Q052', 'TX_RESP_Q053', 'TX_RESP_Q054',
       'TX_RESP_Q055', 'TX_RESP_Q056', 'TX_RESP_Q057', 'TX_RESP_Q058',
       'TX_RESP_Q059', 'TX_RESP_Q060'],
      dtype='object')

In [42]:
#Informações Gerais da escola 
info_escola = base_saeb_se[['ID_PROVA_BRASIL', 'ID_REGIAO', 'ID_UF', 'ID_MUNICIPIO', 'ID_AREA',
       'ID_ESCOLA', 'ID_DEPENDENCIA_ADM', 'ID_LOCALIZACAO', 'IN_SITUACAO_CENSO']]

info_escola = info_escola.drop_duplicates()
info_escola.set_index('ID_ESCOLA', inplace=True)

info_escola

,ID_PROVA_BRASIL,ID_REGIAO,ID_UF,ID_MUNICIPIO,ID_AREA,ID_DEPENDENCIA_ADM,ID_LOCALIZACAO,IN_SITUACAO_CENSO
ID_ESCOLA,,,,,,,,
28012631,2017,2,28,2800100,2,2,1,1
61178208,2017,2,28,2800209,2,2,1,1
61211437,2017,2,28,2800209,2,2,1,1
28017846,2017,2,28,2800308,1,2,1,1
28017854,2017,2,28,2800308,1,2,1,1
...,...,...,...,...,...,...,...,...
61247893,2017,2,28,6307258,2,4,1,1
61229418,2017,2,28,6307267,2,4,1,1
61214852,2017,2,28,6307284,2,4,1,1
61215477,2017,2,28,6307284,2,4,1,1
61231744,2017,2,28,6307286,2,4,1,1

In [31]:
base_saeb_se.loc[base_saeb_se['ID_ESCOLA'] == 28017943]

Empty DataFrame
Columns: [ID_PROVA_BRASIL, ID_REGIAO, ID_UF, ID_MUNICIPIO, ID_AREA, ID_ESCOLA, ID_DEPENDENCIA_ADM, ID_LOCALIZACAO, ID_TURMA, ID_TURNO, ID_SERIE, ID_ALUNO, IN_SITUACAO_CENSO, IN_PREENCHIMENTO_PROVA, IN_PRESENCA_PROVA, ID_CADERNO, ID_BLOCO_1, ID_BLOCO_2, TX_RESP_BLOCO_1_LP, TX_RESP_BLOCO_2_LP, TX_RESP_BLOCO_1_MT, TX_RESP_BLOCO_2_MT, IN_PROFICIENCIA, IN_PROVA_BRASIL, ESTRATO_ANEB, PESO_ALUNO_LP, PESO_ALUNO_MT, PROFICIENCIA_LP, ERRO_PADRAO_LP, PROFICIENCIA_LP_SAEB, ERRO_PADRAO_LP_SAEB, PROFICIENCIA_MT, ERRO_PADRAO_MT, PROFICIENCIA_MT_SAEB, ERRO_PADRAO_MT_SAEB, IN_PREENCHIMENTO_QUESTIONARIO, TX_RESP_Q001, TX_RESP_Q002, TX_RESP_Q003, TX_RESP_Q004, TX_RESP_Q005, TX_RESP_Q006, TX_RESP_Q007, TX_RESP_Q008, TX_RESP_Q009, TX_RESP_Q010, TX_RESP_Q011, TX_RESP_Q012, TX_RESP_Q013, TX_RESP_Q014, TX_RESP_Q015, TX_RESP_Q016, TX_RESP_Q017, TX_RESP_Q018, TX_RESP_Q019, TX_RESP_Q020, TX_RESP_Q021, TX_RESP_Q022, TX_RESP_Q023, TX_RESP_Q024, TX_RESP_Q025, TX_RESP_Q026, TX_RESP_Q027, TX_RESP_Q028, TX_RESP_Q029, TX_RESP_Q030, TX_RESP_Q031, TX_RESP_Q032, TX_RESP_Q033, TX_RESP_Q034, TX_RESP_Q035, TX_RESP_Q036, TX_RESP_Q037, TX_RESP_Q038, TX_RESP_Q039, TX_RESP_Q040, TX_RESP_Q041, TX_RESP_Q042, TX_RESP_Q043, TX_RESP_Q044, TX_RESP_Q045, TX_RESP_Q046, TX_RESP_Q047, TX_RESP_Q048, TX_RESP_Q049, TX_RESP_Q050, TX_RESP_Q051, TX_RESP_Q052, TX_RESP_Q053, TX_RESP_Q054, TX_RESP_Q055, TX_RESP_Q056, TX_RESP_Q057, TX_RESP_Q058, TX_RESP_Q059, TX_RESP_Q060]
Index: []

[0 rows x 96 columns]

In [18]:
#Valor dos Parametros: base de dados, id da escola, pergunta do saeb e respostas
#Valor de Retorno: Variavel Derivada
#Funcao contabiliza as respostas para uma determinada pergunta
def criar_variavel_derivada(base, escola, pergunta, respostas):
    
    base_saeb = base[pergunta].value_counts().to_frame().T
    
    variavel_derivada = pd.DataFrame()
    
    for resposta in respostas:
        col =  pergunta+'_'+resposta
        if resposta in base_saeb.columns:
            variavel_derivada[col] = base_saeb[resposta]
        else:
            variavel_derivada[col] = 0
    
    variavel_derivada['ID_ESCOLA'] = escola

    variavel_derivada.set_index('ID_ESCOLA', inplace=True)
    '''
    base_saeb = base.groupby([pergunta]).count()
    aux = base_saeb[['ID_PROVA_BRASIL']]
    variavel_derivada = pd.DataFrame()
    
    for resposta in respostas:
        column = pergunta+'_'+ resposta
        variavel_derivada[column] = 0

    for resposta in aux.index:
        column = pergunta+'_'+ resposta
        var = aux.loc[aux.index == resposta]
        variavel_derivada[column] = var.values.reshape(-1)
    
    variavel_derivada['ID_ESCOLA'] = escola

    variavel_derivada.set_index('ID_ESCOLA', inplace=True)
    '''
    return variavel_derivada

In [19]:
len(base_saeb_se['ID_ESCOLA'].unique())

195

In [20]:
#Valor dos Parametros: base de dados, id da escola, perguntas do saeb e respostas
#Valor de Retorno: Variaveis Derivadas de uma escola
def variaveis_derivadas(base_dados, escola, perguntas, respostas):
    
    variavel = pd.DataFrame()
    
    for pergunta in perguntas: 
        if (variavel.empty):
            variavel = criar_variavel_derivada(base_dados, escola, pergunta, respostas)
        else:
            variavel = variavel.join(criar_variavel_derivada(base_dados, escola, pergunta, respostas))
    
    return variavel

In [21]:
#separando as respostas pela quantidade de respostas que ela tem
escolas = base_saeb_se['ID_ESCOLA'].unique()

respostas = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'L']

perguntas_duas_respostas = ['TX_RESP_Q001', 'TX_RESP_Q020', 'TX_RESP_Q021', 'TX_RESP_Q024', 'TX_RESP_Q025', 
                            'TX_RESP_Q027', 'TX_RESP_Q028', 'TX_RESP_Q029', 'TX_RESP_Q030', 'TX_RESP_Q031', 
                            'TX_RESP_Q038', 'TX_RESP_Q043', 'TX_RESP_Q044', 'TX_RESP_Q052']

perguntas_tres_respostas = ['TX_RESP_Q018', 'TX_RESP_Q022', 'TX_RESP_Q026', 'TX_RESP_Q032', 'TX_RESP_Q033',
                           'TX_RESP_Q034', 'TX_RESP_Q035', 'TX_RESP_Q040', 'TX_RESP_Q041', 'TX_RESP_Q042', 
                            'TX_RESP_Q046', 'TX_RESP_Q047', 'TX_RESP_Q048', 'TX_RESP_Q049', 'TX_RESP_Q050', 
                            'TX_RESP_Q054', 'TX_RESP_Q055', 'TX_RESP_Q056', 'TX_RESP_Q057', 'TX_RESP_Q058']

perguntas_quatro_respostas = ['TX_RESP_Q039', 'TX_RESP_Q045', 'TX_RESP_Q051', 'TX_RESP_Q053', 'TX_RESP_Q059',
                              'TX_RESP_Q060']

perguntas_cinco_respostas = ['TX_RESP_Q005', 'TX_RESP_Q006', 'TX_RESP_Q007', 'TX_RESP_Q008', 'TX_RESP_Q009',
                             'TX_RESP_Q010', 'TX_RESP_Q011', 'TX_RESP_Q012', 'TX_RESP_Q013', 'TX_RESP_Q014',
                             'TX_RESP_Q015', 'TX_RESP_Q017', 'TX_RESP_Q036', 'TX_RESP_Q037']

perguntas_seis_respostas = ['TX_RESP_Q002', 'TX_RESP_Q016']

perguntas_sete_respostas = ['TX_RESP_Q019', 'TX_RESP_Q023']

perguntas_oito_respostas = ['TX_RESP_Q004']

perguntas_doze_respostas = ['TX_RESP_Q003']

In [22]:
dataframe_duas_respostas = pd.DataFrame()
dataframe_tres_respostas = pd.DataFrame()
dataframe_quatro_respostas = pd.DataFrame()
dataframe_cinco_respostas = pd.DataFrame()
dataframe_seis_respostas = pd.DataFrame()
dataframe_sete_respostas = pd.DataFrame()
dataframe_oito_respostas = pd.DataFrame()
dataframe_doze_respostas = pd.DataFrame()

In [23]:
#gerando variaveis derivadas

for escola in escolas:
    base = base_saeb_se.loc[base_saeb_se['ID_ESCOLA'] == escola]
    
    dataframe_duas_respostas = dataframe_duas_respostas.append(variaveis_derivadas(base, escola, perguntas_duas_respostas, respostas[:2]))
    
    dataframe_tres_respostas = dataframe_tres_respostas.append(variaveis_derivadas(base, escola, perguntas_tres_respostas, respostas[:3]))

    dataframe_quatro_respostas = dataframe_quatro_respostas.append(variaveis_derivadas(base, escola, perguntas_quatro_respostas, respostas[:4]))

    dataframe_cinco_respostas = dataframe_cinco_respostas.append(variaveis_derivadas(base, escola, perguntas_cinco_respostas, respostas[:5]))
    
    dataframe_seis_respostas = dataframe_seis_respostas.append(variaveis_derivadas(base, escola, perguntas_seis_respostas, respostas[:6]))

    dataframe_sete_respostas = dataframe_sete_respostas.append(variaveis_derivadas(base, escola, perguntas_sete_respostas, respostas[:7]))

    dataframe_oito_respostas = dataframe_oito_respostas.append(variaveis_derivadas(base, escola, perguntas_oito_respostas, respostas[:8]))

    dataframe_doze_respostas = dataframe_doze_respostas.append(variaveis_derivadas(base, escola, perguntas_doze_respostas, respostas[:12]))

In [24]:
dataframe_quatro_respostas

,TX_RESP_Q039_A,TX_RESP_Q039_B,TX_RESP_Q039_C,TX_RESP_Q039_D,TX_RESP_Q045_A,TX_RESP_Q045_B,TX_RESP_Q045_C,TX_RESP_Q045_D,TX_RESP_Q051_A,TX_RESP_Q051_B,...,TX_RESP_Q053_C,TX_RESP_Q053_D,TX_RESP_Q059_A,TX_RESP_Q059_B,TX_RESP_Q059_C,TX_RESP_Q059_D,TX_RESP_Q060_A,TX_RESP_Q060_B,TX_RESP_Q060_C,TX_RESP_Q060_D
ID_ESCOLA,,,,,,,,,,,,,,,,,,,,,
28012631,10.0,5,3,0,11,6,1,1,18,0,...,3,0,18,0,0,1,4.0,9.0,6,0
61178208,12.0,29,6,1,35,14,1,0,39,8,...,0,0,46,2,1,0,6.0,13.0,14,17
61211437,44.0,52,10,0,58,39,5,4,76,22,...,12,2,89,9,2,3,5.0,17.0,40,44
28017846,13.0,25,3,0,24,12,4,1,36,3,...,0,0,37,4,0,0,4.0,22.0,15,0
28017854,36.0,53,13,1,69,31,1,0,88,14,...,7,7,71,20,5,7,8.0,49.0,44,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61247893,23.0,25,1,0,14,24,9,2,26,16,...,16,1,28,18,2,1,1.0,13.0,32,3
61229418,14.0,41,3,0,29,29,1,0,45,11,...,1,0,58,2,0,0,13.0,38.0,9,0
61214852,11.0,8,0,0,13,6,0,0,18,0,...,0,0,19,0,0,0,NaN,4.0,8,7
61215477,18.0,8,1,0,16,8,3,0,27,0,...,0,0,23,2,2,0,NaN,NaN,4,23
61231744,9.0,13,0,0,11,7,1,3,17,2,...,0,0,21,1,0,0,NaN,4.0,10,8

In [44]:
#unindo dataframes de respostas

dataframe_var_derivadas = dataframe_duas_respostas
dataframe_var_derivadas = dataframe_var_derivadas.join(dataframe_tres_respostas)
dataframe_var_derivadas = dataframe_var_derivadas.join(dataframe_quatro_respostas)
dataframe_var_derivadas = dataframe_var_derivadas.join(dataframe_cinco_respostas)
dataframe_var_derivadas = dataframe_var_derivadas.join(dataframe_seis_respostas)
dataframe_var_derivadas = dataframe_var_derivadas.join(dataframe_sete_respostas)
dataframe_var_derivadas = dataframe_var_derivadas.join(dataframe_oito_respostas)
dataframe_var_derivadas = dataframe_var_derivadas.join(dataframe_doze_respostas)


dataframe_var_derivadas.fillna(0, inplace=True)

dataframe_var_derivadas = dataframe_var_derivadas.astype(int)

dataframe_var_derivadas

,TX_RESP_Q001_A,TX_RESP_Q001_B,TX_RESP_Q020_A,TX_RESP_Q020_B,TX_RESP_Q021_A,TX_RESP_Q021_B,TX_RESP_Q024_A,TX_RESP_Q024_B,TX_RESP_Q025_A,TX_RESP_Q025_B,...,TX_RESP_Q003_B,TX_RESP_Q003_C,TX_RESP_Q003_D,TX_RESP_Q003_E,TX_RESP_Q003_F,TX_RESP_Q003_G,TX_RESP_Q003_H,TX_RESP_Q003_I,TX_RESP_Q003_J,TX_RESP_Q003_L
ID_ESCOLA,,,,,,,,,,,,,,,,,,,,,
28012631,12,6,15,4,16,3,15,4,6,13,...,2,3,1,1,0,0,3,3,2,1
61178208,19,32,39,12,33,18,34,16,33,16,...,2,3,5,6,4,8,4,6,5,2
61211437,41,64,80,25,65,37,71,34,48,57,...,9,12,9,9,9,10,9,5,10,7
28017846,21,20,37,4,31,10,35,6,21,18,...,4,10,2,7,4,1,4,3,3,1
28017854,39,62,93,10,77,25,92,10,60,41,...,7,9,4,10,13,5,15,11,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61247893,18,28,47,0,43,4,48,1,35,13,...,7,3,6,4,3,4,4,5,3,5
61229418,27,31,58,1,52,6,54,5,43,14,...,4,5,4,3,4,4,4,6,4,5
61214852,10,9,18,1,14,5,19,0,10,8,...,1,4,1,0,0,3,3,0,2,3
61215477,11,16,26,1,24,3,27,0,17,10,...,1,5,4,1,2,1,0,3,2,1
61231744,10,12,20,1,21,1,22,0,19,2,...,1,0,2,5,2,0,1,1,2,2

In [45]:
dataframe_var_derivadas = info_escola.join(dataframe_var_derivadas)

In [29]:
#exportando variaveis
dataframe_var_derivadas.to_csv('C:/Users/maril/Documents/ufs/TCC e Pesquisa IDEB/variaveis_derivadas_2.0.csv')

In [48]:
dataframe_var_derivadas.loc[dataframe_var_derivadas['ID_DEPENDENCIA_ADM'] == 4]

,ID_PROVA_BRASIL,ID_REGIAO,ID_UF,ID_MUNICIPIO,ID_AREA,ID_DEPENDENCIA_ADM,ID_LOCALIZACAO,IN_SITUACAO_CENSO,TX_RESP_Q001_A,TX_RESP_Q001_B,...,TX_RESP_Q003_B,TX_RESP_Q003_C,TX_RESP_Q003_D,TX_RESP_Q003_E,TX_RESP_Q003_F,TX_RESP_Q003_G,TX_RESP_Q003_H,TX_RESP_Q003_I,TX_RESP_Q003_J,TX_RESP_Q003_L
ID_ESCOLA,,,,,,,,,,,,,,,,,,,,,
61180337,2017,2,28,6307214,1,4,1,1,22,11,...,1,2,1,4,3,6,3,3,4,1
61183745,2017,2,28,6307214,1,4,1,1,2,9,...,0,1,0,1,2,1,3,0,0,2
61196430,2017,2,28,6307214,1,4,1,1,65,86,...,11,22,9,17,14,15,6,9,10,4
61198727,2017,2,28,6307214,1,4,1,1,152,165,...,25,32,29,26,18,19,24,26,31,31
61201186,2017,2,28,6307214,1,4,1,1,53,76,...,15,11,10,18,6,13,11,6,6,13
61201193,2017,2,28,6307214,1,4,1,1,38,35,...,11,6,6,9,6,10,5,3,2,1
61205850,2017,2,28,6307214,1,4,1,1,7,7,...,3,1,1,1,0,2,0,2,1,0
61206496,2017,2,28,6307214,1,4,1,1,10,10,...,1,1,1,3,4,1,2,1,1,0
61211442,2017,2,28,6307214,1,4,1,1,12,21,...,1,2,4,4,3,3,3,1,5,2
61212551,2017,2,28,6307214,1,4,1,1,54,56,...,7,8,9,7,10,15,7,9,9,10
61213344,2017,2,28,6307214,1,4,1,1,18,16,...,3,3,1,2,6,2,1,3,3,3
61214844,2017,2,28,6307214,1,4,1,1,32,41,...,6,3,11,5,7,5,11,3,5,8
61220766,2017,2,28,6307214,1,4,1,1,28,41,...,5,6,6,6,10,4,7,2,6,4
61221915,2017,2,28,6307214,1,4,1,1,54,82,...,12,14,8,12,15,11,9,18,8,13
61224108,2017,2,28,6307214,1,4,1,1,12,9,...,2,2,2,1,1,2,2,2,1,2
61227801,2017,2,28,6307214,1,4,1,1,21,17,...,5,7,3,2,1,5,5,3,2,2
61239918,2017,2,28,6307214,1,4,1,1,11,9,...,1,0,3,3,1,2,1,2,0,2
61242023,2017,2,28,6307214,1,4,1,1,7,14,...,3,0,0,2,4,3,3,2,2,1
61182604,2017,2,28,6307222,2,4,1,1,3,4,...,0,0,1,0,3,1,1,0,0,0
61224103,2017,2,28,6307223,2,4,1,1,6,12,...,3,2,0,1,1,4,5,1,0,1
61188297,2017,2,28,6307230,2,4,1,1,47,52,...,12,7,12,12,5,6,10,9,9,6
61222673,2017,2,28,6307238,2,4,1,1,22,23,...,2,5,6,7,3,2,4,3,4,5
61244487,2017,2,28,6307238,2,4,1,1,41,42,...,10,7,7,11,10,8,4,4,7,5
61191477,2017,2,28,6307239,2,4,1,1,9,8,...,0,2,3,0,3,0,2,3,1,0
61183755,2017,2,28,6307248,2,4,1,1,13,8,...,2,2,2,0,2,0,1,0,1,4
61211451,2017,2,28,6307258,2,4,1,1,14,13,...,7,2,7,2,0,2,0,3,0,0
61247893,2017,2,28,6307258,2,4,1,1,18,28,...,7,3,6,4,3,4,4,5,3,5
61229418,2017,2,28,6307267,2,4,1,1,27,31,...,4,5,4,3,4,4,4,6,4,5
61214852,2017,2,28,6307284,2,4,1,1,10,9,...,1,4,1,0,0,3,3,0,2,3
61215477,2017,2,28,6307284,2,4,1,1,11,16,...,1,5,4,1,2,1,0,3,2,1
61231744,2017,2,28,6307286,2,4,1,1,10,12,...,1,0,2,5,2,0,1,1,2,2